	<p class="topTips">帮忙看看下边内容是否符合后边所描述的中心思想。</p>

	<div class="mainBox">
		<div class="owner">
			<div class="headPic"><img src="${data.userInfo.profile_image}"></div>
			<h5>${data.userInfo.screen_name}</h5>
		</div>
		<p class="word">${data.content}</p>
		<ul class="mui-flex-container imgList" id="imgList">
			<#if (data.images.length ==1)>
				<li class="img_auto">
					<i class="img-container">
						<span class="cnt">
							<img src="${data.images[0]}" data-bigimg="${data.images[0]}">
						</span>
					</i>
				</li>
			<#else>
				<#list data.images as list>
					<li>
						<i class="img-container">
							<span class="cnt">
								<img src="${list}?imageView2/0/w/90/h/90" data-bigimg="${list}">
							</span>
						</i>
					</li>
		      	</#list>
			</#if>
	    </ul>
	    <p class="time" id="time"></p>
	</div>
	<div class="mainBox mainBox_t2">
		<#if (data.onself)>
		    <p>目前共有<span>${data.homework.total}</span>人参与</p>
		    <p class="tips <#if (data.is_pass)>pass</#if>">${data.tips}</p>
		    <ul class="chartList">
			<#if (data.vote_type == 1)>
				<li></li>
				<li>
	                <div class="block" style="height:${data.homework.result[0] / data.homework.total * 100 }%">
	                    <p>${data.homework.result[0]}</p>
	                </div>
	                <h6>符合</h6>
	            </li>
	            <li></li>
	            <li class="grey">
	                <div class="block" style="height:${data.homework.result[1] / data.homework.total * 100 }%">
	                    <p>${data.homework.result[1]}</p>
	                </div>
	                <h6>不符合</h6>
	            </li>
	            <li></li>
			<#else if (data.vote_type == 0)>
				<li>
	                <div class="block" style="height:${data.homework.result[0] / data.homework.total * 100 }%">
	                    <p>${data.homework.result[0]}</p>
	                </div>
	                <h6>很符合</h6>
	            </li>
	            <li>
	                <div class="block" style="height:${data.homework.result[1] / data.homework.total * 100 }%">
	                    <p>${data.homework.result[1]}</p>
	                </div>
	                <h6>符合</h6>
	            </li>
	            <li>
	                <div class="block" style="height:${data.homework.result[2] / data.homework.total * 100 }%">
	                    <p>${data.homework.result[2]}</p>
	                </div>
	                <h6>一般</h6>
	            </li>
	            <li>
	                <div class="block" style="height:${data.homework.result[3] / data.homework.total * 100 }%">
	                    <p>${data.homework.result[3]}</p>
	                </div>
	                <h6>不符合</h6>
	            </li>
	            <li>
	                <div class="block" style="height:${data.homework.result[4] / data.homework.total * 100 }%">
	                    <p>${data.homework.result[4]}</p>
	                </div>
	                <h6>很不符合</h6>
	            </li>
			</#if>
		    </ul>
			<div class="btn_box">
		        <a href="JavaScript:;" id="run_share">再找人看看</a>
		        <a href="${data.homework.course_list_url}">查看课程</a>
		    </div>
		<#else>
			<p>${data.question}</p>
			<#if (data.vote_type == 1)>
				<div class="agree_box">
					<a href="JavaScript:;" <#if (!data.current_choice)>choose="5"</#if> <#if (data.current_choice == 5)>class="done"</#if>>${data.homework.result[0]}</a>
					<a href="JavaScript:;" <#if (!data.current_choice)>choose="6"</#if> <#if (data.current_choice == 6)>class="done"</#if>>${data.homework.result[1]}</a>
				</div>
			<#else if(data.vote_type == 0)>
				<div class="mui-input-row mui-radio mui-left">
					<label>很符合
						<input name="question" type="radio" value="0" <#if (data.current_choice === '0')>checked="checked"</#if> />
					</label>
				</div>
				<div class="mui-input-row mui-radio mui-left">
					<label>符合
						<input name="question" type="radio" value="1" <#if (data.current_choice == '1')>checked="checked"</#if> />
					</label>
				</div>
				<div class="mui-input-row mui-radio mui-left">
					<label>一般
						<input name="question" type="radio" value="2" <#if (data.current_choice == '2')>checked="checked"</#if> />
					</label>
				</div>
				<div class="mui-input-row mui-radio mui-left">
					<label>不符合
						<input name="question" type="radio" value="3" <#if (data.current_choice == '3')>checked="checked"</#if> />
					</label>
				</div>
				<div class="mui-input-row mui-radio mui-left">
					<label>很不符合
						<input name="question" type="radio" value="4" <#if (data.current_choice == '4')>checked="checked"</#if> />
					</label>
				</div>
				<div class="btn_box">
			        <!-- <a href="JavaScript:;" id="<#if (!data.current_choice)>help_submit<#else>help_submit_end</#if>">帮<#if (data.userInfo.sex == 'm')>他<#else>她</#if>成长</a> -->
			        <a href="JavaScript:;" id="help_submit">提交</a>
				</div>
			</#if>
		</#if>
	</div>