<div class="head">
	<img src="${data.mainpage_banners.banner}" alt="" class="background">
	<div class="playButton" style="display: none;"></div>
</div>

<ul class="detailBox">
	<li class="mui-table-view-cell detailTitle">
		<a href="${data.mainpage_starting.more_url}" pjax="1">
			入门知识
			<span class="yellow">努力成为小公举</span>
			<span class="rightArrow"></span>
		</a>		
	</li>

	<#list data.mainpage_starting.knowledge as k>
		<li class="mui-table-view-cell">
				<div class="sponser">
			<a href="${k.url}" pjax="1">
					<img src="${k.banner}" alt="${k.title}" class="headpic">
			</a>
				<div class="sponserInfo pl20">
			<a href="${k.url}" pjax="1">
					<span class="sponserName">${k.title}</span>
					<br>
					<span class="sponserDescribe">${k.desc}</span>
			</a>
				</div>
		</li>
	</#list>
</ul>

<ul class="detailBox">
	<li class="mui-table-view-cell detailTitle">
		<a href="" onclick="return false;">
			智能助手<span class="yellow">就要你红</span>
		</a>		
	</li>
	<li class="mui-table-view-cell">
		<div class="helperBox">
			<div class="helper">
				<a href="${data.mainpage_Intelligent_assistant.links.release}">
					<span class="helperIcon icon1"></span>
					<br>
					<span class="helperText">智发布</span>
				</a>				
			</div>
			<div class="helper">
				<a href="${data.mainpage_Intelligent_assistant.links.interaction}">
					<span class="helperIcon icon2"></span>
					<br>
					<span class="helperText">智互动</span>
				</a>
			</div>
			<div class="helper">
				<a href="${data.mainpage_Intelligent_assistant.links.monitoring}">
					<span class="helperIcon icon3"></span>
					<br>
					<span class="helperText">智舆情</span>
				</a>	
			</div>
			<div class="helper">
				<a href="${data.mainpage_Intelligent_assistant.links.sentiment}">
					<span class="helperIcon icon4"></span>
					<br>
					<span class="helperText">智监测</span>
				</a>
			</div>
		</div>
	</li>
</ul>

<ul class="detailBox">
	<li class="mui-table-view-cell detailTitle">
		<a href="${data.mainpage_news.more_url}">
			业界资讯
			<span class="yellow">深入网红内幕</span>
			<span class="rightArrow"></span>
		</a>		
	</li>

	<div class="picBox">
		<ul class="pics" id="pics">
			<#list data.mainpage_news.image_news as n>
				<li class="pic">
					<a href="${n.url}">
						<img src="${n.banner}" alt="${n.title}">
					</a>					
				</li>
			</#list>
		</ul>
		<ul class="points" id="points">
			<#list data.mainpage_news.image_news as n>
				<li class="point"></li>
			</#list>			
		</ul>
	</div>
	<ul>
		<#list data.mainpage_news.news as n>
			<li class="mui-table-view-cell">
				<a href="${n.url}">
					<div class="sponserInfo sponserTitle">
						<span class="sponserName">${n.title}</span>
						<br>
						<span class="sponserDate">${n.time}</span>
					</div>			
				</a>			
			</li>
		</#list>
	</ul>
</ul>

<ul class="detailBox">
	<div class="testBox">
		<a href="${data.mainpage_testing.nickname_testing_url}" class="testItem">
			<span class="nicknameTest">
				<span class="testIcons nicknameLeftIcon">
					昵称评测
					<span class="testIcons nicknameRightIcon"></span>
				</span>
				<span class="text">测测昵称的<span class="yellow">网红范儿</span></span>
			</span>
		</a>
		<a href="${data.mainpage_testing.online_retailers_testing_url}" class="testItem">
			<span class="commercialTest">
				<span class="testIcons commercialLeftIcon">
					电商评测
					<span class="testIcons commercialRightIcon"></span>
				</span>
				<span class="text">看看微博<span class="yellow">电商经营</span>情况</span>
			</span>
		</a>
	</div>
</ul>

<ul class="detailBox">
	<li class="mui-table-view-cell detailTitle">
		<a href="${data.mainpage_org.more_url}">
			合作伙伴
			<span class="yellow">超级品牌邀你变红</span>
			<span class="rightArrow"></span>
		</a>
	</li>
	<#list data.mainpage_org.orgs as o>
		<li class="mui-table-view-cell">
			<a href="${o.url}">
				<div class="sponser partner">
					<img src="${o.logo}" alt="" class="headpic">
				<div class="sponserInfo pl20">
					<span class="sponserDescribe">${o.title}</span>
				</div>
			</a>
		</li>
	</#list>	
</ul>

<ul class="detailBox">
	<li class="mui-table-view-cell detailTitle">加盟入口<span class="yellow">共享生态资源</span></li>
	<table class="mui-table">
		<tr class="cooperateLine">
			<td class="cooperate">
				<a href="${data.mainpage_join.ad_join_url}" pjax="1">
					<span class="coIcon icon1"></span>
					<span>我是广告主</span><br><span class="gray">请网红发广告</span>
				</a>	
			</td>
			<td class="cooperate c2">
				<a href="${data.mainpage_join.ad_star_url}" pjax="1">
					<span class="coIcon icon2"></span>
					<span>我是明星/经纪人</span><br><span class="gray">我要当高端网红</span>
				</a>			
			</td>
		</tr>
		<tr class="cooperateLine">
			<td class="cooperate c3">
				<a href="${data.mainpage_join.ad_supply_url}" pjax="1">
					<span class="coIcon icon3"></span>
					<span>我是供货商</span><br><span class="gray">请网红卖货</span>
				</a>
			</td>
			<td class="cooperate c4">
				<a href="${data.mainpage_join.ad_service_url}" pjax="1">
					<span class="coIcon icon4"></span>
					<span>我是服务商</span><br><span class="gray">请网红卖货</span></a>
			</td>
		</tr>
		<tr class="cooperateLine">
			<td class="cooperate c5">
				<a href="${data.mainpage_join.ad_net_star_url}" pjax="1">
					<span class="coIcon icon5"></span>
					<span>我是网红经纪</span><br><span class="gray">我要签约优秀网红</span></a>
			</td>
			<td class="cooperate c6">
				<a href="${data.mainpage_join.ad_investment_url}" pjax="1">
					<span class="coIcon icon6"></span>
					<span>我是投资公司</span><br><span class="gray">投资优秀网红和团队</span></a>
			</td>
		</tr>
	</table>
</ul>

<ul class="detailBox" style="">
	<li class="mui-table-view-cell detailTitle">关于我们<span class="yellow">十年专业推手</span></li>
	<table class="mui-table">
		<tr>
			<td class="about c1" colspan="2">
				<span class="aboutTitle">不生产求打赏女主播</span>
				<br>
				<span class="gray">专注扶持电商网红</span>
			</td>
		</tr>
		<tr>
			<td class="about c3">富有经验的导师团队</td>
			<td class="about c4">一站式网红服务</td>
		</tr>
	</table>
	<div style="background: red">
		
	</div>
</ul>