<div class="mui-content">
<#if (data.platform == "weibo" || data.platform == null )>
	<div class="mui-content-padded">
		<p class="weibo-tip">请先登录，才能使用功能哟</p>
		<p>检查到您当前登录的微博账号是</p>
	</div>
	<div class="profile">
		<div><img src="${data.weibo_head_url}" class="border-1px"></div>
		<div class="nick">${data.weibo_screen_name}</div>
	</div>
	<a class="mui-btn mui-btn-block" href="${data.submit_url}" next_url="${data.next_url}" onclick="return false;" action="wbregist">使用当前账号登录</a>
	<div class="mui-content-padded bottom-desc">
		<p class="change-account">想更换其它账号？</p>
		<span class="mui-icon mui-icon-arrowthindown"></span>
		<p>如果想使用别的微博账号，请切换微博客户端的微博账号，再次进入本页面或关注官方微博 <a href="sinaweibo://userinfo?uid=6049556736" class="screen_name">@网红城堡火龙果</a></p>
	</div>
<#elseif (data.platform == "weixin" )>
	<div class="mui-content-padded">
		<h3>微博绑定</h3>
	</div>
	<div class="profile">
		<div><img src="http://tva1.sinaimg.cn/crop.22.48.463.463.180/0068YUDSjw8f7nd3fwmj0j30e80e8weu.jpg" class="border-1px"></div>
		<div class="nick">网红城堡</div>
	</div>
	<div class="mui-content-padded fix block">
		<div class="left"><span class="mui-icon mui-icon-help"></span></div>
		<div class="right">
		<p class="title">为什么要绑定微博</p>
		<p class="text">我们的网红养成计划是个性化的服务，根据粉丝数量、微博内容属性提供一套大数据+人工指导的个性化养成计划</p>
		</div>
	</div>
	<a class="mui-btn mui-btn-block" href="${data.next_url}">现在就去</a>
	<div class="mui-content-padded bottom-desc">
		<p class="weixin_tip"><span></span>温馨提示</p>
		<p class="text">如果在微信绑定微博失败，请在微博关注 <a href="http://m.weibo.cn/u/6049556736">@网红城堡火龙果</a> 即可快速完成绑定。</p>
	</div>
</#if>
</div>
