<div class="top">
	<span class="logo"></span>
	<span class="title">欢迎加盟网红城堡</span>
	<div class="subTitleBox">
		<span class="subLine"></span>
		<span class="subTitle">科学变红 优雅赚钱</span>
		<span class="subLine"></span>
	</div>
	<div class="empty"></div>
	<span class="describe">请填写您的资料，我们将尽快与您联系</span>
</div>
<br>
<ul class="detailBox" id="box">
	<table class="mui-table">
		<tr class="cooperateLine">
			<td class="cooperate c1" channel="1">
				<a href="javascript:;" index="1">
					<span class="coIcon icon1"></span>
					<span>我是广告主</span><br><span class="gray">请网红发广告</span>
				</a>	
			</td>
			<td class="cooperate c2" channel="2">
				<a href="javascript:;" index="2">
					<span class="coIcon icon2"></span>
					<span>我是明星/经纪人</span><br><span class="gray">我要当高端网红</span>
				</a>			
			</td>
		</tr>
		<tr class="cooperateLine">
			<td class="cooperate c3" channel="3" >
				<a href="javascript:;" index="3">
					<span class="coIcon icon3"></span>
					<span>我是供货商</span><br><span class="gray">请网红卖货</span>
				</a>
			</td>
			<td class="cooperate c4" channel="4">
				<a href="javascript:;" index="4">
					<span class="coIcon icon4"></span>
					<span>我是服务商</span><br><span class="gray">请网红卖货</span></a>
			</td>
		</tr>
		<tr class="cooperateLine">
			<td class="cooperate c5" channel="5">
				<a href="javascript:;" index="5">
					<span class="coIcon icon5"></span>
					<span>我是网红经纪</span><br><span class="gray">我要签约优秀网红</span></a>
			</td>
			<td class="cooperate c6" channel="6">
				<a href="javascript:;" index="6">
					<span class="coIcon icon6"></span>
					<span>我是投资公司</span><br><span class="gray">投资优秀网红和团队</span></a>
			</td>
		</tr>
	</table>
</ul>

<form class="inputBox" id="form">
	<span class="inputOuter">
		<input type="text" class="mui-input-row" placeholder="企业名称" name="compName" maxlength="20">
	</span>
	<span class="inputOuter">
		<input type="text" class="mui-input-row" placeholder="联系人名称" name="linkman">
	</span>
	<span class="inputOuter">
		<input type="tel" class="mui-input-row" placeholder="联系电话" name="phone" maxlength="15">
	</span>
	<span class="inputOuter">
		<input type="text" class="mui-input-row" placeholder="所在地区" name="location">
	</span>
	<span class="inputOuter">
		<input type="text" class="mui-input-row" placeholder="其他备注" name="remark" maxlength="20">
	</span>

	<a href="javascript:;" class="mui-btn mui-btn-350" id="submit">提交</a>
</form>

<div class="submitNotice success" id="submitNotice">
	<div class="submitBox">
		<span class="submitIcon"></span>
		<span class="submitText succText">提交成功</span>
		<span class="submitText failText">
			网络似乎不太好哦
			<br>
			请再提交一次试试
		</span>
	</div>
</div>