<div class="mui-content">
	<div class="mui-content-padded">
		<p class="title">你身边是否有这样的朋友</p>
		<div class="mui-card card-1">
			<div class="text">她特别会打扮自己，很多女孩子向她请教如何更漂亮。
				<div class="glass"></div>
			</div>
		</div>
		<div class="mui-card card-2">
			<div class="text">他在辛辛苦苦开淘宝店，但是广告费越来越贵，生意不好做。
				<div class="glass"></div>
			</div>
		</div>
		<div class="mui-card card-3">
			<div class="text">或者他是一个大V，有很多读者，但是广告费不高，希望做电商？
				<div class="glass"></div>
			</div>
		</div>
		<p class="desc">以上各位的未来，在于网红电商。</p>
		<p class="desc">阿里巴巴明确表示电商的未来是网红、是社群。</p>

		<p class="title">网红城堡</p>
		<ul>
			<li>依托十年的社交平台操盘经验</li>
			<li>依托两年的网红实际运营经验</li>
			<li>依托我们丰富的业界合作资源</li>
		</ul>
		<p class="title">免费为你提供</p>
		<ul>
			<li>个性化的网红培训教程</li>
			<li>数据驱动的测试工具</li>
			<li>自动化的运营软件</li>
		</ul>

		<p class="desc">帮助大家成为一个更优秀的网红。</p>
		<p class="desc">我们的口号是——科学变红、优雅赚钱</p>
		<p class="desc">赶快邀请她成为网红吧！</p>

		<p><a class="mui-btn mui-btn-block" href="${data.platform == 'weibo' ? 'sinaweibo://compose?content=想不想在人群中脱颖而出，成为坐拥百万粉丝的红人？快快加入网红城堡，众多业内大佬带你开启圆梦之旅~~ ' + data.next_url : data.next_url}" action="invite">邀请她一起变红</a></p>
	</div>
</div>