@media (max-width: 319px) {
  html {
    font-size: 100px; } }

@media (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 100px; } }

@media (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 117.1875px; } }

@media (min-width: 414px) {
  html {
    font-size: 129.375px; } }

.border-1px {
  position: relative; }
  .border-1px:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    pointer-events: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-1px:after {
      right: -100%;
      bottom: -100%;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-1px:after {
      right: -200%;
      bottom: -200%;
      transform: scale(0.3333);
      -moz-transform: scale(0.3333);
      -webkit-transform: scale(0.3333); } }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, legend, p, table, th, td, iframe, input, figure {
  margin: 0;
  padding: 0; }

header, section, footer {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

img {
  border: 0; }

li {
  list-style: none; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  outline: 0; }

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none; }

input[type="text"], input[type="button"], input[type="submit"], input[type="tel"] {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0; }

input, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; }

body {
  font: 14px/20px "Microsoft YaHei","Hiragino Sans GB","stheitisclight","sans-serif";
  min-width: 320px;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.container {
  height: 100%; }

.clearfix {
  *overflow: hidden;
  *clear: both;
  *zoom: 1; }

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden; }

.message {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  /*	.icon {
		position: absolute;
		left: 0;
		top: 0;
		display: inline-block;
		width: r(95);
		height: r(80);
		background: url(../images/icon.png) no-repeat r(25) r(20);
		background-size: r(47) r(47);
	}*/ }
  .message .item {
    padding-left: 0.08533rem; }
    .message .item .clearfix {
      padding: 0.06827rem 0 0.04267rem; }
    .message .item .title {
      color: #1a1a1a;
      font-size: 0.11947rem;
      float: left; }
    .message .item .time {
      color: #a3a1a2;
      font-size: 0.1024rem;
      float: right;
      padding-right: 0.08533rem; }
    .message .item .content {
      color: #646464;
      font-size: 0.1024rem;
      padding: 0 0.08533rem 0.06827rem 0; }

.empty {
  text-align: center;
  padding-top: 0.512rem;
  background: none; }
