<!-- <header class="mui-bar mui-bar-nav">
	<a href="javascript:history.back();" node="DOCUMENT_REFERRER" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">课程内容</h1>
</header> -->
<header class="mui-bar mui-bar-nav">	
	<h1 class="mui-title">${data.name}</h1>
</header>
	<!-- <div class="mui-media-body subTitle">帮助网红快速学会独立创作微博，找准定位</div> -->
<div class="mui-content content">
	${data.content}
</div>
<#if (data.iswhusr != 1) >
<div class="not-user">
	<div class="buttons">
	<a href="${data.join_url}" pjax="1" class="mui-btn">立即加入</a>
	</div>
</div>
<#else>
<div  class="tc_text">
	<a href="javascript:;" class="mui-btn tc_go" id="finish">	
			学习下一节
	</a>
</div>
</#if>
