<#if (/(android|iphone)/i.test(navigator.userAgent))>
<div class="sliders">
	<ul class="slider-container">
		<li class="slider">
			<img src="http://${data._extra.domain}/modules/app/landing/images/m1.jpg" class="slide-bg" alt="">
		</li>
		<li class="slider">
			<img src="http://${data._extra.domain}/modules/app/landing/images/m2.jpg" class="slide-bg" alt="">
		</li>
		<li class="slider">
			<img src="http://${data._extra.domain}/modules/app/landing/images/m3.jpg" class="slide-bg" alt="">
		</li>
	</ul>
	<ul class="dots">
		<li class="dot current"></li>
		<li class="dot"></li>
		<li class="dot"></li>
	</ul>
</div>
<div class="qrcode-phone">
	<img src="http://${data._extra.domain}/modules/app/landing/images/weibo-qrcode.png" alt="">
	<p class="title">开启服务请关注微博</p>
	<p>请用微博客户端右上角</p>
	<p>扫一扫 立即关注</p>
</div>
<!-- <div class="footer clearfix">
	<div class="inner">
		<div class="copy-right"><span class="logo"></span> &copy; 2016 北京火龙果城堡科技有限公司 <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备14034088号-13</a></div>
	</div>
</div> -->
<#else>
<div class="sliders">
	<ul class="slider-container">
		<li class="slider">
			<img src="http://${data._extra.domain}/modules/app/landing/images/1.jpg" class="slide-bg" alt=""><div class="content">
				<h2>网红城堡，社交营销大咖主导</h2>
				<p>张锐，时趣互动CEO，社交营销领军者</p>
				<p>明升，微博创始成员之一，主导产品设计</p>
				<p>啸林，电商O2O专家，红人设计师</p>
				<div class="qrcode">
					<img src="http://${data._extra.domain}/modules/app/landing/images/weibo-qrcode.png" alt="">
					<p class="title">开启服务请关注微博</p>
					<p>请用微博客户端右上角</p>
					<p>扫一扫 立即关注</p>
				</div>
			</div>
		</li>
		<li class="slider">
			<img src="http://${data._extra.domain}/modules/app/landing/images/2.jpg" class="slide-bg" alt="">
			<div class="content">
				<h2>网红城堡，助力电商网红成长</h2>
				<p>我们不擅长培养女主播</p>
				<p>我们只懂得如何成为电商网红</p>
				<p>已有美妆、健身、情感等多个成功案例</p>
				<div class="qrcode">
					<img src="http://${data._extra.domain}/modules/app/landing/images/weibo-qrcode.png" alt="">
					<p class="title">开启服务请关注微博</p>
					<p>请用微博客户端右上角</p>
					<p>扫一扫 立即关注</p>
				</div>
			</div>
		</li>
		<li class="slider">
			<img src="http://${data._extra.domain}/modules/app/landing/images/3.jpg" class="slide-bg" alt="">
			<div class="content">
				<h2>网红城堡，一站式网红服务</h2>
				<p>免费的网红知识课程 + 业界资讯解读</p>
				<p>融合人工智能技术的网红经营管理软件</p>
				<p>整合广告主、供货商、营销服务提供商等产业链上下游</p>
				<p>全方位为电商网红提供一站式服务</p>
				<div class="qrcode">
					<img src="http://${data._extra.domain}/modules/app/landing/images/weibo-qrcode.png" alt="">
					<p class="title">开启服务请关注微博</p>
					<p>请用微博客户端右上角</p>
					<p>扫一扫 立即关注</p>
				</div>
			</div>
		</li>
	</ul>
	<ul class="dots">
		<li class="dot current"></li>
		<li class="dot"></li>
		<li class="dot"></li>
	</ul>
</div>
<div class="footer clearfix">
	<div class="inner">
		<div class="copy-right"><span class="logo"></span> &copy; 2016 北京火龙果城堡科技有限公司 <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备14034088号-13</a></div>
	</div>
</div>
</#if>