	<div class="banner">
	</div>
		<ul class="input_list">
			<li>
				<input type="text" value="" data-validate="name" placeholder="请输入姓名">
			</li>
			<li>
				<input type="text" value="" data-validate="telephone" placeholder="请输入手机号">
			</li>
			<li>
				<input type="text" value="" data-validate="profession" placeholder="请输入职业">
			</li>
			<li>
				<input type="text" value="" data-validate="city" placeholder="请输入所在城市">
			</li>
		</ul>
		<div class="btn_box">
			<a href="JavaScript:;" class="btn" id="submit">我要报名</a>
		</div>