@charset "UTF-8";
@media (max-width: 319px) {
  html {
    font-size: 100px; } }

@media (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 100px; } }

@media (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 117.1875px; } }

@media (min-width: 414px) {
  html {
    font-size: 129.375px; } }

.border-1px {
  position: relative; }
  .border-1px:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    pointer-events: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-1px:after {
      right: -100%;
      bottom: -100%;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-1px:after {
      right: -200%;
      bottom: -200%;
      transform: scale(0.3333);
      -moz-transform: scale(0.3333);
      -webkit-transform: scale(0.3333); } }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, legend, p, table, th, td, iframe, input, figure {
  margin: 0;
  padding: 0; }

header, section, footer {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

img {
  border: 0; }

li {
  list-style: none; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  outline: 0; }

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none; }

input[type="text"], input[type="button"], input[type="submit"], input[type="tel"] {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0; }

input, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; }

body {
  font: 14px/20px "Microsoft YaHei","Hiragino Sans GB","stheitisclight","sans-serif";
  min-width: 320px;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.container {
  height: 100%; }

.mui-content {
  min-width: 1.36533rem; }

.test-card {
  height: 0.77653rem;
  background: #fff;
  -webkit-box-shadow: 0px 0px 0.01707rem 0px #ddd;
  box-shadow: 0px 0px 0.01707rem 0px #ddd;
  display: table;
  width: 100%;
  padding: 0.08533rem 0.04267rem; }
  .test-card .test-card-item {
    width: 50%;
    display: table-cell;
    width: 1.408rem;
    height: 0.59733rem;
    background-size: 1.408rem 0.59733rem;
    background-repeat: no-repeat;
    margin: 0.09387rem 0 0 0;
    background-position: center center; }
  .test-card .test-card-nick {
    background-image: url(../images/nick.png); }
  .test-card .test-card-biz {
    background-image: url(../images/biz.png); }

.sub-title {
  height: 0.2944rem;
  line-height: 0.2944rem;
  color: #1c1c1c;
  font-size: 0.13653rem;
  padding-left: 0.128rem;
  padding-top: 0.01707rem; }

.news {
  display: block;
  height: 0.36693rem;
  line-height: 0.36693rem;
  color: #646464;
  font-size: 0.11947rem;
  padding-left: 0.128rem;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0px 0px 0.01707rem 0px #ddd;
  box-shadow: 0px 0px 0.01707rem 0px #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0.17067rem; }

.news:after {
  position: absolute;
  top: 50%;
  display: inline-block;
  font-family: Muiicons;
  font-size: inherit;
  line-height: 1;
  color: #bbb;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0.064rem;
  content: '\e583';
  color: #a1a1a1; }

.mui-table-view {
  overflow: hidden;
  background: #f6f6f6; }

.mui-table-view-cell:first-child {
  margin-top: 0; }

/* 右上角角标：待学习、学习中、已完成 */
.mui-table-view-cell {
  position: relative;
  padding: 0;
  background: white;
  margin-top: 0.08533rem;
  min-height: 70px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 0.01707rem 0px #ddd;
  box-shadow: 0px 0px 0.01707rem 0px #ddd; }

.mui-table-view-cell:after {
  left: 0;
  background: transparent; }

.mui-table-view-cell > a:not(.mui-btn).mui-active {
  background: transparent; }

.mui-table-view-cell a.lessonInfo {
  text-align: center;
  margin: auto;
  padding: auto;
  display: block;
  /*padding:r(10);
	padding-top: r(20);*/
  -webkit-tap-highlight-color: transparent; }

.mui-table-view .mui-media .mui-subtitle {
  text-align: left;
  color: #1c1c1c;
  padding: 0.08533rem 0.128rem 0.08533rem;
  font-size: 0.11947rem;
  border-bottom: 1px solid #f2f2f2; }

.list-empty {
  text-align: center;
  line-height: 0.29867rem; }

.doneText {
  display: block;
  margin-right: 0.29867rem;
  font-size: 0.1024rem;
  color: #a3a2a2;
  padding-bottom: 0.08533rem; }

.finish {
  text-align: left;
  padding-left: 0.128rem; }

.lessonDescribe {
  text-align: left;
  padding: 0.08533rem 0.128rem;
  font-size: 0.11093rem;
  color: #646464; }

.mui-popup-title + .mui-popup-text {
  text-align: left; }

.table-img-box {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  margin: 0 auto; }

.table-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.box {
  /* overflow: hidden; */
  position: absolute;
  margin: 0;
  height: 30px;
  line-height: 26px;
  overflow: hidden;
  font-size: 10px;
  top: 2px;
  right: -39px;
  text-align: center;
  color: #FFF;
  width: 130px;
  border: 2px solid black;
  /*	border:3px solid rgba(255, 255, 255, 0.2);*/
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.4);
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  z-index: 2;
  background: #fff; }

.wait {
  border-color: #F58220;
  color: #F58220; }

.doing {
  border-color: #ffb61e;
  color: #ffb61e; }

.done {
  border-color: #96ce54;
  color: #96ce54; }

.forbidden {
  border-color: #ff2121;
  color: #ff2121; }

.percentRate {
  text-align: left;
  color: #ea5504;
  padding: 0.04267rem 0.128rem;
  position: relative;
  margin-bottom: 0.17067rem; }

.percentRateTip {
  position: absolute;
  background-position: 0 -73px;
  display: inline-block;
  width: 37px;
  height: 25px;
  top: -0.0256rem;
  right: 0.04267rem;
  text-align: center;
  line-height: 20px;
  color: #555;
  font-size: 12px;
  transition: left 0.5s;
  -webkit-transition: left 0.5s;
  color: #999; }

.percentRate:before, .percentRateBar {
  content: '';
  height: 0.0768rem;
  border-radius: 0.04267rem;
  background: #e5e5e5;
  position: absolute;
  left: 0.128rem; }

.percentRate:before {
  top: 5px;
  right: 50px;
  height: 0.0768rem; }

.percentRateBar {
  top: 5px;
  right: 100%;
  background: #fbbd06;
  transition: right 0.5s;
  -webkit-transition: right 0.5s; }
