<div class="header">
	<div class="desc">
		<p>万名微博电商网红作为标杆</p>
		<p>让你找到属于自己的努力方向</p>
		<p>努力学习</p>
		<p>或许在不远的将来你也可以成为别人的榜样</p>
	</div>
</div>
<div class="swiper">
	<ul>
		<li class="card prev">
			<div class="corner">榜 样</div>
			<div class="title">${data.wanghong[data.wanghong.length - 1].screen_name}</div>
			<div class="profile-image"><img src="${data.wanghong[data.wanghong.length - 1].profile_image}"></div>
			<div class="opacity-bg"></div>
			<div class="desc">
				<div class="half">粉丝：${data.wanghong[data.wanghong.length - 1].fans}</div>
				<div class="half">月销：${data.wanghong[data.wanghong.length - 1].sale}</div>
				<div class="desc-text">${data.wanghong[data.wanghong.length - 1].desc}</div>
			</div>
		</li>
		<li class="card zoom">
			<div class="corner">榜 样</div>
			<div class="title">${data.wanghong[0].screen_name}</div>
			<div class="profile-image"><img src="${data.wanghong[0].profile_image}"></div>
			<div class="opacity-bg"></div>
			<div class="desc">
				<div class="half">粉丝：${data.wanghong[0].fans}</div>
				<div class="half">月销：${data.wanghong[0].sale}</div>
				<div class="desc-text">${data.wanghong[0].desc}</div>
			</div>
		</li>
		<li class="card next">
			<div class="corner">榜 样</div>
			<div class="title">${data.wanghong[1].screen_name}</div>
			<div class="profile-image"><img src="${data.wanghong[1].profile_image}"></div>
			<div class="opacity-bg"></div>
			<div class="desc">
				<div class="half">粉丝：${data.wanghong[1].fans}</div>
				<div class="half">月销：${data.wanghong[1].sale}</div>
				<div class="desc-text">${data.wanghong[1].desc}</div>
			</div>
		</li>
	</ul>
	<ul class="dots">
		<li class="dot current"></li>
		<li class="dot"></li>
		<li class="dot"></li>
		<li class="dot"></li>
		<li class="dot"></li>
		<li class="dot"></li>
		<li class="dot"></li>
		<li class="dot"></li>
	</ul>
</div>
<div class="pop-container pop-tips">
	<div class="pop">
		<div class="content">
			<div>系统会快速地对你的微博信息进行计算并分析出你的电商网红能力模型，此过程需要消耗一些时间，请稍等哦，我们将为你统计以下数据：</div>
			<ul>
				<li><span class="sprite icon-1"></span>微博粉丝数</li>
				<li><span class="sprite icon-2"></span>微博互动指数</li>
				<li><span class="sprite icon-3"></span>微博发布频率分析</li>
				<li><span class="sprite icon-4"></span>内容电商化系数</li>
				<li><span class="sprite icon-5"></span>内容风格解析</li>
			</ul>
		</div>
		<div class="buttons">
			<span class="mui-icon mui-icon-close"></span>
		</div>
	</div>
</div>
<div class="progress">
	<div class="progress-bar" style="width: 0%;"></div>
	<div class="percent">0%</div>
</div>
<div class="buttons" style="display:none">
	<a href="${data.next_url}" pjax="1">查看我的数据分析</a>
</div>
<div class="pop-container pop-timeout" style="display:none">
	<div class="pop-error">
		<div class="content">
			<div class="desc">哎呀，你的数据太多啦，我们还在努力计算，请你耐心等待哦，或者可以选择以下操作</div>
			<ul>
				<li><a href="${data.index_url}" pjax="1" class="mui-btn">直接进入网红城堡</a></li>
				<li><a href="#" onclick="location.reload();return false;" class="mui-btn mui-btn-secondary">重新测试</a></li>
			</ul>
		</div>
		<div class="buttons">
			<!-- <span class="mui-icon mui-icon-close"></span> -->
		</div>
	</div>
</div>
