@media (max-width: 319px) {
  html {
    font-size: 100px; } }

@media (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 100px; } }

@media (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 117.1875px; } }

@media (min-width: 414px) {
  html {
    font-size: 129.375px; } }

.border-1px {
  position: relative; }
  .border-1px:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    pointer-events: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-1px:after {
      right: -100%;
      bottom: -100%;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-1px:after {
      right: -200%;
      bottom: -200%;
      transform: scale(0.3333);
      -moz-transform: scale(0.3333);
      -webkit-transform: scale(0.3333); } }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, legend, p, table, th, td, iframe, input, figure {
  margin: 0;
  padding: 0; }

header, section, footer {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

img {
  border: 0; }

li {
  list-style: none; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  webkit-tap-highlight-color: transparent; }

a:focus {
  outline: 0; }

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none; }

input[type="text"], input[type="button"], input[type="submit"], input[type="tel"] {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0; }

input, textarea {
  webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; }

body {
  font: 14px/20px "Microsoft YaHei","Hiragino Sans GB","stheitisclight","sans-serif";
  min-width: 320px;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.container {
  height: 100%; }

html {
  min-height: 100%; }

body {
  background-color: #b36bf3;
  background-image: linear-gradient(to bottom, #ff4c8e 0%, #b36bf3 60%);
  min-height: 100%;
  color: #fff; }

body:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 1.33rem;
  background: url(../images/bg_header.png) no-repeat;
  background-size: 100% auto; }

.analyze-tit:before, .erweima:after, .btn-step:before, .icon_approve_co {
  background: url(../images/bg.png?v=12) no-repeat;
  background-size: 1.175rem auto; }

.analyze-tit {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 0.15rem;
  font-weight: normal;
  padding: 0.28rem 0 0.2rem; }
  .analyze-tit:before {
    content: "";
    display: block;
    width: 0.525rem;
    height: 0.48rem;
    margin: 0 auto 0.1rem; }

.wh-box {
  width: 3.17rem;
  height: 0.7rem;
  padding: 0.38rem 0 0 0.185rem;
  margin: 0 auto 0.2rem;
  font-size: 0.16rem;
  line-height: 0.26rem;
  white-space: nowrap;
  background: url(../images/bg_wh.png) no-repeat;
  background-size: 100% auto; }
  .wh-box p {
    margin-left: 0.45rem;
    display: inline;
    margin: 0;
    color: #fff; }

.fbig {
  font-size: 0.25rem; }

.de-txt {
  font-size: 0.15rem;
  line-height: 0.26rem;
  text-align: center; }

.erweima {
  border: 2px solid #1d1349;
  width: 1.69rem;
  height: 1.69rem;
  margin: 0.13rem auto; }
  .erweima img {
    width: 100%;
    vertical-align: top; }
  .erweima:after {
    content: "";
    display: block;
    width: 1.175rem;
    height: 0.7rem;
    margin: 0.07rem auto;
    background-position: 0 -0.55rem; }

.weibo-official {
  text-align: center;
  font-size: 0.12rem;
  margin-bottom: 0.16rem; }
  .weibo-official dd {
    position: relative;
    width: 0.77rem;
    height: 0.77rem;
    margin: 0.2rem auto 0.125rem; }
  .weibo-official img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #1d1349; }

.icon_approve_co {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.205rem;
  height: 0.205rem;
  overflow: hidden;
  line-height: 200px;
  background-position: -0.6rem 0; }

.btn-step {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 1.56rem;
  border: 0.015rem solid #1d1349;
  border-radius: 0.15rem;
  line-height: 0.305rem;
  font-size: 0.16rem;
  font-weight: bold;
  text-align: center;
  color: #472d88;
  background-color: #ffff01;
  box-shadow: 0 -0.03rem 0 #ffde01 inset; }
  .btn-step:before {
    position: absolute;
    left: 0.03rem;
    top: 0.03rem;
    content: "";
    width: 0.13rem;
    height: 0.14rem;
    background-position: -0.6rem -0.25rem; }
  .btn-step.none {
    background-color: #999;
    color: #fff;
    box-shadow: 0 -0.03rem 0 #808080 inset; }

.content p {
  text-align: center;
  color: #fff;
  font-size: 0.12rem;
  line-height: 0.3rem; }

.content ul {
  padding-top: 0.5rem;
  display: block;
  width: 80%;
  margin: 0 auto; }

.content ul li {
  text-align: center;
  color: #fff;
  line-height: 0.3rem;
  margin-bottom: 0.2rem; }

.content .input-text {
  display: block;
  width: 100%;
  height: 0.3rem;
  border: none;
  border-radius: 0.015rem;
  color: #666;
  font-size: 0.11rem; }

.content .input-btn {
  display: block;
  width: 100%;
  height: 0.3rem;
  border: none;
  border-radius: 0.015rem;
  color: #666;
  font-size: 0.12rem;
  background: url(../images/bg_btn.png) no-repeat;
  background-size: 100% 100%;
  text-align: center; }

.mui-popup-backdrop {
  background: rgba(0, 0, 0, 0.8); }
