@media (max-width: 319px) {
  html {
    font-size: 100px; } }

@media (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 100px; } }

@media (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 117.1875px; } }

@media (min-width: 414px) {
  html {
    font-size: 129.375px; } }

.border-1px {
  position: relative; }
  .border-1px:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    pointer-events: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-1px:after {
      right: -100%;
      bottom: -100%;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-1px:after {
      right: -200%;
      bottom: -200%;
      transform: scale(0.3333);
      -moz-transform: scale(0.3333);
      -webkit-transform: scale(0.3333); } }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, legend, p, table, th, td, iframe, input, figure {
  margin: 0;
  padding: 0; }

header, section, footer {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

img {
  border: 0; }

li {
  list-style: none; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  outline: 0; }

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none; }

input[type="text"], input[type="button"], input[type="submit"], input[type="tel"] {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0; }

input, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; }

body {
  font: 14px/20px "Microsoft YaHei","Hiragino Sans GB","stheitisclight","sans-serif";
  min-width: 320px;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.container {
  height: 100%; }

.clearfix {
  *overflow: hidden;
  *clear: both;
  *zoom: 1; }

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden; }

.section {
  padding: 0.08533rem;
  min-height: 0.42667rem; }
  .section .inner {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    .section .inner .logo {
      padding: 0.21333rem 0 0;
      font-size: 0.256rem;
      color: #444;
      height: 0.512rem; }
    .section .inner .introduce {
      /*float: left;*/
      min-height: 3.41333rem;
      width: 60%; }
      .section .inner .introduce p {
        width: 100%;
        line-height: 30px;
        color: #444;
        width: auto;
        word-break: break-all; }
    .section .inner .download-area {
      position: absolute;
      bottom: 0.256rem; }
      .section .inner .download-area li {
        display: inline-block; }
        .section .inner .download-area li a:link, .section .inner .download-area li a:active, .section .inner .download-area li a:visited, .section .inner .download-area li a:hover {
          color: #333;
          text-decoration: none; }
        .section .inner .download-area li .download {
          display: inline-block;
          width: 1.152rem;
          height: 0.384rem;
          line-height: 0.384rem;
          background: #eee;
          margin-right: 0.08533rem;
          padding-left: 0.256rem;
          text-align: center;
          border: 1px solid #999;
          border-radius: 0.04267rem;
          color: #333; }
        .section .inner .download-area li .icon-ios {
          background: #fff url(../images/ios.png) no-repeat 0.08533rem 0.08533rem;
          background-size: 0.21333rem; }
        .section .inner .download-area li .icon-android {
          background: #fff url(../images/android.png) no-repeat 0.08533rem 0.08533rem;
          background-size: 0.21333rem; }
      .section .inner .download-area .qrcode {
        padding: 0.128rem 0; }
        .section .inner .download-area .qrcode img {
          width: 0.85333rem;
          height: 0.85333rem;
          padding: 0.08533rem;
          background: #fff;
          vertical-align: middle; }
        .section .inner .download-area .qrcode .text {
          padding-left: 0.128rem; }
    .section .inner .phone {
      width: 1.37813rem;
      height: 2.76053rem;
      background: url(../images/iphone.png) no-repeat;
      background-size: 1.37813rem;
      position: absolute;
      right: 0;
      bottom: 0;
      /*float: right;*/
      margin: 0.42667rem 0.256rem; }
      .section .inner .phone .preview {
        width: 1.20747rem;
        height: 2.13333rem;
        background: #fbbf06;
        position: absolute;
        left: 0.08533rem;
        top: 0.31147rem; }
        .section .inner .phone .preview img {
          width: 100%;
          height: 100%; }

.section-1 {
  background: #aadae4 url(../images/bg.jpg) no-repeat center bottom;
  background-size: 100%; }

.section-2 {
  background: #fbbf06; }
  .section-2 .desc {
    display: inline-block;
    width: 50%; }
    .section-2 .desc h2 {
      font-size: 0.1536rem;
      padding-top: 0.128rem; }
    .section-2 .desc ul li {
      margin: 0.08533rem 0;
      /*padding-left: r(30);*/ }

.section-3 {
  background: #ecf0f1; }
  .section-3 .weibo, .section-3 .weixin {
    display: inline-block;
    width: 50%;
    box-sizing: border-box; }
    .section-3 .weibo a, .section-3 .weixin a {
      color: #444; }
    .section-3 .weibo img, .section-3 .weixin img {
      width: 0.768rem;
      height: 0.768rem; }
    .section-3 .weibo p .title,
    .section-3 .weibo p .nick, .section-3 .weixin p .title,
    .section-3 .weixin p .nick {
      display: inline-block;
      width: 0.768rem;
      text-align: center; }
    .section-3 .weibo p .title, .section-3 .weixin p .title {
      color: #999;
      font-size: 0.08533rem; }
  .section-3 .weibo {
    text-align: right;
    padding-right: 0.42667rem; }
    .section-3 .weibo img {
      border-radius: 100%; }
    .section-3 .weibo p {
      /*float: right;*/ }
  .section-3 .weixin {
    padding-left: 0.42667rem; }

.section-4 {
  background: #f1c40f; }

.section-5 {
  background: #d8af0c; }

.section-6 {
  height: 0.17067rem;
  background: #f8f8f8;
  /*#0084b8;*/
  color: #666;
  min-height: auto; }

@media (max-width: 995px) {
  .section .inner {
    width: 90%; }
    .section .inner .introduce {
      width: 60%; }
      .section .inner .introduce p {
        width: auto; }
    .section .inner .phone {
      margin: 0.21333rem 0rem; } }

@media (max-width: 700px) {
  .section .inner {
    width: 90%; }
    .section .inner .introduce {
      width: 50%; }
      .section .inner .introduce p {
        width: auto; }
    .section .inner .download-area li {
      display: block;
      margin-bottom: 0.128rem; }
      .section .inner .download-area li:last-child {
        margin-bottom: 0; }
    .section .inner .download-area .qrcode .text {
      display: block;
      text-align: left;
      padding: 0.08533rem 0 0; }
    .section .inner .phone {
      margin: 0.21333rem 0rem; } }

@media (max-width: 414px) {
  .section .inner {
    width: 90%; }
    .section .inner .logo {
      text-align: center;
      margin: 0.128rem 0; }
    .section .inner .introduce {
      width: 100%;
      min-height: 0.42667rem;
      padding-bottom: 0.128rem; }
      .section .inner .introduce p {
        width: auto; }
    .section .inner .download-area {
      position: static; }
      .section .inner .download-area li {
        display: block;
        margin-bottom: 0.128rem; }
        .section .inner .download-area li .download {
          width: 80%;
          display: block;
          margin: 0 auto; }
        .section .inner .download-area li:last-child {
          margin-bottom: 0; }
      .section .inner .download-area .text {
        display: block;
        text-align: center;
        padding: 0.08533rem 0 0; }
      .section .inner .download-area .qrcode {
        display: none; }
        .section .inner .download-area .qrcode a {
          display: block;
          margin: 0 auto;
          width: 0.85333rem; }
        .section .inner .download-area .qrcode .text {
          display: block;
          text-align: center;
          padding: 0.08533rem 0 0; }
    .section .inner .phone {
      margin: 0.128rem auto;
      position: relative;
      bottom: 0; }
  .section-2 .desc {
    display: block;
    width: 100%; }
  .section-3 .weibo, .section-3 .weixin {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center; }
  .section-3 .weibo {
    padding-bottom: 0.128rem; } }
