<div class="topText" id="topText">
	<span class="textItem">你</span>
	<span class="textItem">的</span>
	<span class="textItem">网</span>
	<span class="textItem">红</span>
	<span class="textItem">潜</span>
	<span class="textItem">力</span>
</div>

<div class="bottomTitle mui-title">
看看自己有哪些优势可以更快红起来，下面这些背景有助于网红事业发展，哪些与你相关？</div>
<!-- <div class="textBox">
	<span class="text text-1">测试万一</span>
	<span class="text text-2">测试万一</span>
	<span class="text text-3">测试万一</span>
	<span class="text text-4">测试万一</span>
	<span class="text text-5">测试万一</span>
	<span class="text text-6">测试万一</span>
	<span class="text text-7">测试万一</span>
	<span class="text text-8">测试万一</span>
	<span class="text text-9">测试万一</span>
</div> -->

<div class="selectBox">
	<div class="selectTitle">职业</div>
	<div class="selector">
		<#list data.job as cls>
			<span selectItem class="selectItem" cid="${cls.id}">${cls.class}</span>	
		</#list>		
	</div>
</div>

<div class="selectBox">
	<div class="selectTitle">爱好</div>
	<div class="selector">
		<#list data.hobby as cls>
			<span selectItem class="selectItem" cid="${cls.id}">${cls.class}</span>	
		</#list>		
	</div>
</div>

<br>
<div class="btnBox">
	<a id="done" href="javascript:;" class="mui-btn-disable mui-btn mui-btn-350">选好了</a>
</div>
