<div class="topText" id="topText">
	<span class="textItem">你</span>
	<span class="textItem">的</span>
	<span class="textItem">洪</span>
	<span class="textItem">荒</span>
	<span class="textItem">之</span>
	<span class="textItem">力</span>
</div>

<div class="bottomTitle mui-title">
	亲，你是多才多艺的文艺小青年，还是博学多才的小能手，亦是...快快告诉我们你有哪些超能力吧，这样有助于我们更好地分析你的能力模型哟~
</div>
<!-- <div class="textBox">
	<span class="text text-1">测试万一</span>
	<span class="text text-2">测试万一</span>
	<span class="text text-3">测试万一</span>
	<span class="text text-4">测试万一</span>
	<span class="text text-5">测试万一</span>
	<span class="text text-6">测试万一</span>
	<span class="text text-7">测试万一</span>
	<span class="text text-8">测试万一</span>
	<span class="text text-9">测试万一</span>
</div> -->

<div class="selectBox">
	<div class="selectTitle">职业</div>
	<div class="selector">
		<#list data.job as cls>
			<span selectItem class="selectItem" cid="${cls.id}">${cls.class}</span>	
		</#list>		
	</div>
</div>

<div class="selectBox">
	<div class="selectTitle">爱好</div>
	<div class="selector">
		<#list data.hobby as cls>
			<span selectItem class="selectItem" cid="${cls.id}">${cls.class}</span>	
		</#list>		
	</div>
</div>

<br>
<div class="btnBox">
	<a id="done" href="javascript:;" class="mui-btn-disable mui-btn ">选好了</a>
</div>
