<div class="header">
	<div class="user-left">
		<img src="${data.user.profile_image}" class="profile-image" >
		<div class="nick">${data.user.screen_name}</div>
	</div>
	<div class="pk-area">
		<span class="pk sprite"></span>
	</div>
	<div class="user-right">
		<img src="http://${data._extra.domain}/modules/preheat/pk/images/chong.jpg" class="profile-image" >
		<div class="nick">标杆网红群体</div>
	</div>
</div>
<div>
	<div class="block fans" style="display: none;">
		<div class="left">
			<div class="count">${data.self.fans}</div>
			<div class="progress progress-left">
				<div class="progress-bar" style="width:0%"></div>
			</div>
		</div>
		<div class="center">
			<span class="fans sprite"></span>
			<span class="desc">微博粉丝量</span>
		</div>
		<div class="right">
			<div class="count">${data.standard.fans}</div>
			<div class="progress progress-right">
				<div class="progress-bar" style="width:0%"></div>
			</div>
		</div>
	</div>

	<div class="block weibo" style="display: none;">
		<div class="left">
			<div class="count">${data.self.weibo}</div>
			<div class="progress progress-left">
				<div class="progress-bar" style="width:0%"></div>
			</div>
		</div>
		<div class="center">
			<span class="weibo sprite"></span>
			<span class="desc">近一周发博频率</span>
		</div>
		<div class="right">
			<div class="count">${data.standard.weibo}</div>
			<div class="progress progress-right">
				<div class="progress-bar" style="width:0%"></div>
			</div>
		</div>
	</div>

	<div class="block interactive" style="display: none;">
		<div class="left">
			<div class="count">${data.self.interactive}</div>
			<div class="progress progress-left">
				<div class="progress-bar" style="width:0%"></div>
			</div>
		</div>
		<div class="center">
			<span class="interactive sprite"></span>
			<span class="desc">近半年粉丝互动指数</span>
		</div>
		<div class="right">
			<div class="count">${data.standard.interactive}</div>
			<div class="progress progress-right">
				<div class="progress-bar" style="width:0%"></div>
			</div>
		</div>
	</div>

	<div class="block biz" style="display: none;">
		<div class="left">
			<div class="circle">${data.self.biz}</div>
		</div>
		<div class="center">
			<span class="biz sprite"></span>
			<span class="desc">电商化系数</span>
		</div>
		<div class="right">
			<div class="circle">${data.standard.biz}</div>
		</div>
	</div>
</div>
<a href="${data.next_url}" pjax="1" class="button" style="display: none;">查看个人能力</a>