<div class="mui-content">
	<ul>
		<li>
			<p class="title">需要授权</p>
			<p class="desc">谢谢您给朋友的网红养成计划提供建议，我们需要您微信授权完成本次提交</p>
		</li>
		<li>
			<p class="title">为什么呢？</p>
			<p class="desc">因为我们需要了解各位反馈者的所在地、性别以便更科学的为您的朋友提供意见分析</p>
		</li>
	</ul>
	<a href="${data.next_url}" class="mui-btn mui-btn-primary mui-btn-block">现在就去</a>

	<ul>
		<li>
			<p class="title">什么是微信授权？</p>
			<p class="desc">微信提供的页面，类似下图，我们只能获得您的昵称、头像、所在地、性别，不会获得朋友圈、对话这些私密信息</p>
		</li>
	</ul>
	<img src="http://${data._extra.domain}/modules/h5/weixinOAuth/images/auth.png" class="oauth_preview border-1px">
</div>