<div class="mui-content">
	<div class="segmented-control">
		<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			<a class="mui-control-item mui-active" href="#" onclick="return false;" action="tab" action-data="studying">待学习</a>
			<a class="mui-control-item" href="#" onclick="return false;" action="tab" action-data="finished">已学习</a>
		</div>
	</div>

	<#if ( data.lessons.studying.length == 0)>
	<div class="studying">
		<div class="empty">
			<div class="text">还没有学习中的课程，快去参加学习呦~</div>
			<a href="${data.tabbar[1].url}" pjax="1" class="button">课程列表</a>
		</div>
	</div>
	<#else>
	<div class="studying">
		<ul class="mui-table-view">
			<#list data.lessons.studying as lesson>
			<li class="mui-table-view-cell mui-media">
				<#if (lesson.state == 4)>
				<a href="#" onclick="return false;" action="lock" class="mui-navigate-right">
				<#else>
				<a href="${lesson.url}" pjax="1" class="mui-navigate-right">
				</#if>
					<div class="mui-media-body">
						<div class="title">${lesson.name}</div>
						<p class='mui-ellipsis'>共 ${lesson.count} 节课 <span class="suggest">建议 ${lesson.days} 小时完成</span></p>
					</div>
				</a>
			</li>
			</#list>
		</ul>
	</div>
	</#if>

	<#if ( data.lessons.finished.length == 0)>
	<div class="finished" style="display:none;">
		<div class="empty">
			<div class="text">还没有已学完的课程，快去参加学习呦~</div>
			<a href="${data.tabbar[1].url}" pjax="1" class="button">课程列表</a>
		</div>

	</div>
	<#else>
	<div class="finished" style="display:none;">
		<ul class="mui-table-view">
			<#list data.lessons.finished as lesson>
			<li class="mui-table-view-cell mui-media">
				<a href="${lesson.url}" pjax="1" class="mui-navigate-right">
					<div class="mui-media-body">
						<div class="title">${lesson.name}</div>
						<p class='mui-ellipsis'>共 ${lesson.count} 节课 <span class="suggest">建议 ${lesson.days} 小时完成</span></p>
					</div>
				</a>
			</li>
			</#list>
		</ul>
	</div>
	</#if>
</div>
