<div class="mui-content">
<#if (data.total == 0)>
	<div class="empty">您还没有邀请过好友呢</div>
	<div class="mui-content-padded">
		<p><a class="mui-btn mui-btn-block" href="${data.next_url}" pjax="1">现在就去</a></p>
	</div>
<#else>
	<div class="invite-tip">已成功邀请 <span class="count">${data.total}人</span> 开启网红之路</div>
	<ul class="mui-table-view">
		<#list data.data as friend>
		<li class="mui-table-view-cell mui-media">
			<a href="javascript:;">
				<img class="mui-media-object mui-pull-left" src="${friend.avatar_hd}">
				<div class="mui-media-body">
					<div class="friend"><span class="friend-name">${friend.name}</span></div>
					<div class='mui-ellipsis'>加入时间：<span class="time">${friend.add_time}</span></div>
					<div class="from">来自 <span class="source">${friend.from == "weibo" ? '微博' : '微信'}</span></div>
				</div>
			</a>
		</li>
		</#list>
	</ul>
	<div class="mui-content-padded">
		<p><a class="mui-btn mui-btn-block" href="${data.next_url}" pjax="1">继续邀请</a></p>
	</div>
</#if>
</div>
