@media (max-width: 319px) {
  html {
    font-size: 100px; } }

@media (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 100px; } }

@media (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 117.1875px; } }

@media (min-width: 414px) {
  html {
    font-size: 129.375px; } }

.border-1px {
  position: relative; }
  .border-1px:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    pointer-events: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-1px:after {
      right: -100%;
      bottom: -100%;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-1px:after {
      right: -200%;
      bottom: -200%;
      transform: scale(0.3333);
      -moz-transform: scale(0.3333);
      -webkit-transform: scale(0.3333); } }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, legend, p, table, th, td, iframe, input, figure {
  margin: 0;
  padding: 0; }

header, section, footer {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

img {
  border: 0; }

li {
  list-style: none; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  outline: 0; }

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none; }

input[type="text"], input[type="button"], input[type="submit"], input[type="tel"] {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0; }

input, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; }

body {
  font: 14px/20px "Microsoft YaHei","Hiragino Sans GB","stheitisclight","sans-serif";
  min-width: 320px;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.container {
  height: 100%; }

html, body {
  height: 100%; }

body {
  background: #f2f2f2; }

.mui-content {
  background: transparent; }

.empty {
  padding: 0;
  text-align: center;
  background: transparent url(../images/empty.png) no-repeat center center;
  background-size: 1.7152rem 1.536rem;
  height: 2.13333rem; }
  .empty .text {
    margin: auto;
    width: 100%;
    height: 100%;
    line-height: 2.77333rem;
    text-align: center;
    color: #919191;
    font-size: 0.11947rem; }
  .empty .button {
    display: block;
    margin: 0 auto;
    width: 1.152rem;
    height: 0.36267rem;
    line-height: 0.36267rem;
    background: #fbbd06;
    border-radius: 0.04267rem;
    color: #fff; }

.mui-segmented-control {
  background: #fff; }

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
  color: #1c1c1c; }

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #fbbd06;
  border-color: #fbbd06; }

.mui-table-view {
  background: transparent; }

.mui-table-view-cell {
  height: 0.65707rem;
  padding: 0.11093rem 0.128rem 0;
  margin-bottom: 0.128rem;
  background: #fff; }
  .mui-table-view-cell a {
    height: 0.65707rem; }
    .mui-table-view-cell a .title {
      font-size: 0.11947rem; }
    .mui-table-view-cell a .mui-ellipsis {
      color: #919191;
      margin-top: 0.04267rem;
      font-size: 0.1024rem; }
      .mui-table-view-cell a .mui-ellipsis .suggest {
        margin-left: 0.21333rem; }
  .mui-table-view-cell:after {
    left: 0; }
