    <div class="mainBox">
        <h5>恭喜你学完本节课程</h5>
		<p>${data.topic}</p>
    </div>
    <div class="mainBox">
        <h4>作业内容：</h4>
		<textarea id="contentWords" placeholder="分享新鲜事"></textarea>
		<ul class="mui-flex-container" id="imageList">
	<!-- 		<li>
				<i class="img-container">
					<span class="cnt">
						<img src="http://ww2.sinaimg.cn/large/0060lm7Tgw1f5tevi6q7qj303c03cjrc.jpg">
						<span class="mui-icon mui-icon-trash imgRemove"></span>
					</span>
				</i>
			</li> -->
			<li id="chooseImageBox"><span class="plus" id="chooseImage"><span class="mui-icon mui-icon-plusempty"></span></span></li>
	    </ul>
    </div>
    <div class="mainBox">
        <h4>以上内容希望给读者留下怎样的印象呢？</h4>
		<textarea id="question" rows="2" placeholder="请输入">${data.questions}</textarea>
    </div>
    <div class="btn_box">
        <a href="JavaScript:;" id="submit">请好友看看</a>
    </div>