    <div class="mainBox">
        <h5>本节作业需要收集${data.rule}个赞同</h5>
        <div class="bg-line-box">
            <span>${data.percent}%</span>
            <div class="bg-line">
                <p id="scale" style="width:${data.percent}%"></p>
            </div>
        </div>
        <#if (data.percent >= 100 )>
            <h6 class="pass_box">棒棒哒~<br>恭喜你，完成作业~</h6>
        </#if>
    </div>

    <div class="mainBox">
        <h5>目前共有${data.total}人参与评估</h5>
        <ul class="chartList">
        <#if (data.vote_type == 1)>
            <li></li>
            <li>
                <div class="block" style="height:${data.result[5] / data.total * 100 }%">
                    <p>${data.result[5]}</p>
                </div>
                <h6>赞同</h6>
            </li>
            <li></li>
            <li class="grey">
                <div class="block" style="height:${data.result[6] / data.total * 100 }%">
                    <p>${data.result[6]}</p>
                </div>
                <h6>不赞同</h6>
            </li>
            <li></li>
        <#else if(data.vote_type == 0)>
            <li>
                <div class="block" style="height:${data.result[0] / data.total * 100 }%">
                    <p>${data.result[0]}</p>
                </div>
                <h6>很符合</h6>
            </li>
            <li>
                <div class="block" style="height:${data.result[1] / data.total * 100 }%">
                    <p>${data.result[1]}</p>
                </div>
                <h6>符合</h6>
            </li>
            <li>
                <div class="block" style="height:${data.result[2] / data.total * 100 }%">
                    <p>${data.result[2]}</p>
                </div>
                <h6>一般</h6>
            </li>
            <li>
                <div class="block" style="height:${data.result[3] / data.total * 100 }%">
                    <p>${data.result[3]}</p>
                </div>
                <h6>不符合</h6>
            </li>
            <li>
                <div class="block" style="height:${data.result[4] / data.total * 100 }%">
                    <p>${data.result[4]}</p>
                </div>
                <h6>很不符合</h6>
            </li>
        </#if>
        </ul>
        <div class="btn_box">
            <a href="JavaScript:;" id="run_share">再找人看看</a>
            <a href="${data.next_url}">再做一次</a>
        </div>

    </div>