@media (max-width: 319px) {
  html {
    font-size: 100px; } }

@media (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 100px; } }

@media (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 117.1875px; } }

@media (min-width: 414px) {
  html {
    font-size: 129.375px; } }

.border-1px {
  position: relative; }
  .border-1px:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    pointer-events: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-1px:after {
      right: -100%;
      bottom: -100%;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-1px:after {
      right: -200%;
      bottom: -200%;
      transform: scale(0.3333);
      -moz-transform: scale(0.3333);
      -webkit-transform: scale(0.3333); } }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, legend, p, table, th, td, iframe, input, figure {
  margin: 0;
  padding: 0; }

header, section, footer {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

img {
  border: 0; }

li {
  list-style: none; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  webkit-tap-highlight-color: transparent; }

a:focus {
  outline: 0; }

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none; }

input[type="text"], input[type="button"], input[type="submit"], input[type="tel"] {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0; }

input, textarea {
  webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; }

body {
  font: 14px/20px "Microsoft YaHei","Hiragino Sans GB","stheitisclight","sans-serif";
  min-width: 320px;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.container {
  height: 100%; }

body, .mui-content {
  background: #fef8e0; }

.banner {
  width: 3.2rem;
  height: 2.944rem;
  margin-bottom: 0.08533rem;
  background: url(../images/banner_1.jpg) no-repeat center center;
  background-size: 90% 90%; }

.next_btn {
  display: block;
  margin: 0.14933rem auto;
  width: 2.64107rem;
  height: 0.46507rem;
  text-align: center;
  line-height: 0.42667rem;
  font-size: 0.128rem;
  background: url(../images/btn_1.png) no-repeat 0 0;
  background-size: 100% 100%;
  color: #412801; }

.content-box {
  margin: 0.064rem;
  background: #fff;
  border: 1px solid #ddd; }

.content-box .title {
  position: relative;
  padding: 0.064rem 0.064rem 0.064rem 0.384rem;
  margin-bottom: 0.128rem;
  line-height: 0.17067rem;
  border-bottom: 0.00427rem solid #d5d3b1; }

.content-box span {
  position: absolute;
  left: 0.064rem;
  top: 50%;
  width: 0.27733rem;
  height: 0.40107rem;
  background: url(../images/ico_face_1.png) no-repeat center center;
  background-size: 100% 100%;
  margin-top: -0.25173rem; }

.content-box h1 {
  line-height: 0.512rem;
  font-size: 0.1536rem;
  text-align: center;
  color: #ff5676;
  padding: 0.128rem 0;
  font-weight: normal; }

.info-box {
  padding: 0.128rem 0.17067rem;
  line-height: 0.1536rem; }

.info-box li {
  line-height: 0.1792rem; }

.info-box h6 {
  color: #ff5676;
  font-size: 0.11947rem;
  padding: 0.03413rem 0; }

.mui-btn-block {
  margin: 0.128rem auto;
  display: block; }
