@charset "UTF-8";
@media (max-width: 319px) {
  html {
    font-size: 100px; } }

@media (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 100px; } }

@media (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 117.1875px; } }

@media (min-width: 414px) {
  html {
    font-size: 129.375px; } }

.border-1px {
  position: relative; }
  .border-1px:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    pointer-events: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-1px:after {
      right: -100%;
      bottom: -100%;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-1px:after {
      right: -200%;
      bottom: -200%;
      transform: scale(0.3333);
      -moz-transform: scale(0.3333);
      -webkit-transform: scale(0.3333); } }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, legend, p, table, th, td, iframe, input, figure {
  margin: 0;
  padding: 0; }

header, section, footer {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

img {
  border: 0; }

li {
  list-style: none; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  outline: 0; }

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none; }

input[type="text"], input[type="button"], input[type="submit"], input[type="tel"] {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0; }

input, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; }

body {
  font: 14px/20px "Microsoft YaHei","Hiragino Sans GB","stheitisclight","sans-serif";
  min-width: 320px;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.container {
  height: 100%; }

.topList li {
  height: 0.42667rem;
  line-height: 0.256rem;
  padding: 0.08533rem 0.064rem;
  margin: 0.02133rem 0;
  background: #fff; }

.topList a {
  display: block;
  width: 100%;
  height: 0.256rem; }

.topList .top .list_pic {
  float: right; }

.topList span {
  float: left;
  color: #666; }

.topList .list_pic {
  width: 0.256rem;
  height: 0.256rem;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 0.08533rem; }
  .topList .list_pic img {
    display: block;
    width: 100%; }

.topList .list_score {
  float: right; }
  .topList .list_score em {
    color: #e5711d; }

.mui-btn-block {
  display: block;
  width: 1.49333rem;
  height: 0.2816rem;
  margin: 0.128rem auto;
  text-align: center;
  font-size: 0.128rem;
  line-height: 0.2816rem;
  background: #fbbd06;
  border-radius: 0.04267rem;
  color: #fff; }

.content-box {
  background: #fff;
  box-shadow: 1px 1px 2px #eeeeec;
  margin-bottom: 0.128rem;
  position: relative; }

.headPic {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0 auto 0.128rem;
  overflow: hidden;
  border-radius: 50%; }
  .headPic img {
    display: block;
    width: 100%; }

.status-word {
  text-align: center;
  color: #ff5676;
  font-size: 0.1024rem; }

.explain {
  padding: 0.08533rem 0.17067rem; }

.mark {
  text-align: center;
  padding: 0.17067rem 0;
  line-height: 0.27307rem; }

.mark strong {
  font-size: 0.256rem;
  font-weight: normal;
  color: #ff7245; }

.mark p {
  padding-top: 0.04267rem; }

.join {
  line-height: 0.2048rem;
  font-size: 0.13653rem;
  text-align: center;
  color: #ff5676;
  padding: 0.128rem 0; }

.detail-echarts {
  height: 2.304rem;
  margin: 0 0.04267rem; }

.prev, .next {
  width: 0.19627rem;
  height: 0.256rem;
  position: absolute;
  top: 0.64rem;
  background: url(../images/ico_prev.png) no-repeat 0 0;
  background-size: 100% 100%;
  left: 0.21333rem;
  animation: AnimatPrev 2.5s infinite;
  -webkit-animation: AnimatPrev 2.5s infinite;
  /* Safari 和 Chrome */ }

.next {
  background: url(../images/ico_next.png) no-repeat 0 0;
  background-size: 100% 100%;
  left: initial;
  right: 0.21333rem;
  animation: AnimatNext 2.5s infinite;
  -webkit-animation: AnimatNext 2.5s infinite;
  /* Safari 和 Chrome */ }

@-webkit-keyframes AnimatPrev {
  0% {
    opacity: 1;
    left: 0.21333rem; }
  50% {
    opacity: 0.4;
    left: 0.064rem; }
  100% {
    opacity: 1;
    left: 0.21333rem; } }

@-webkit-keyframes AnimatNext {
  0% {
    opacity: 1;
    right: 0.21333rem; }
  50% {
    opacity: 0.4;
    right: 0.064rem; }
  100% {
    opacity: 1;
    right: 0.21333rem; } }
