	<div class="banner">
		<img src="http://${data._extra.domain}/modules/quickened/index/images/banner_1.jpg">
		<!-- <img src="${data.banner}"> -->
	</div>
	<p class="tips">以下工具只对毕业阶段学员开放  </p>

	<div class="mainBox">
		<h3 class="no_border">智能辅助经营效率提升软件工具</h3>
		<ul class="tool_list">
			<li>
				<a href="${data.weibo_url}">
					<h6><span></span>智发布</h6>
					<p>微博内容发掘及发布助手</p>
				</a>
			</li>
			<li>
				<a href="${data.fansi_url}">
					<h6><span></span>智互动</h6>
					<p>高质量粉丝挖掘及维系助手</p>
				</a>
			</li>
			<li>
				<a href="${data.yuqing_url}">
					<h6><span></span>智舆情</h6>
					<p>微博运行数据统计及经验赚取</p>
				</a>
			</li>
			<li>
				<a href="${data.jingzheng_url}">
					<h6><span></span>智监测</h6>
					<p>同行经营数据监测及知识挖掘</p>
				</a>
			</li>
		</ul>
	</div>

	<div class="mainBox">
		<h3><a href="${data.advert_url}">智能广告投放</a></h3>
		<p class="mod">广告内容评估及投放策略自动化优化智能管理系统</p>
	</div>

	<div class="mainBox">
		<h3><a href="${data.dsyygj_url}">电商运营工具</a></h3>
		<p class="mod">连接电商网店与微博平台的高效运营工具，把粉丝买家合二为一</p>
	</div>

	<div class="mainBox">
		<h3>快速提升自己</h3>
		<ul class="up">
			<li class="full">
				<a href="${data.dsyy_url}">
					<img src="http://${data._extra.domain}/modules/quickened/index/images/img_1.jpg">
					<h6>电商运营</h6>
				</a>
			</li>
			<li class="half">
				<a href="${data.ghsdj_url}">
					<img src="http://${data._extra.domain}/modules/quickened/index/images/img_2.jpg">
					<h6>供货商对接</h6>
				</a>
			</li>
			<li class="half">
				<a href="${data.cosmetology_url}">
					<img src="http://${data._extra.domain}/modules/quickened/index/images/img_3.jpg">
					<h6>美容整形</h6>
				</a>
			</li>
		</ul>
		<h4>推荐培训</h4>
		<ul class="join">
<!-- 			<li>
				<div class="tit">
					<h6 class="left">皇家礼仪培训<span>（线下）</span></h6>
					<span>时长：2小时</span>
				</div>
				<div class="info">
					<div class="left">难度
						<div class="star_bg">
							<div class="star_color num_1"></div>
						</div>
					</div>
					<strong>¥198/人</strong>
				</div>
				<div class="btn_box">
					<a href="JavaScript:;" class="btn">报名参加</a>
				</div>
			</li> -->
			<#list data.recommend as list>
				<li>
					<div class="tit">
						<h6 class="left">${list.name}<span>（<#if (list.isonline==1)>线上<#else>线下</#if>）</span></h6>
						<span>时长：${list.usetime}</span>
					</div>
					<div class="info">
						<div class="left">难度
							<div class="star_bg">
								<div class="star_color num_${list.difficults}"></div>
							</div>
						</div>
						<strong>${list.cost}</strong>
					</div>
					<div class="btn_box">
						<a href="${data.submit_url}?id=${list.id}" class="btn" pjax="1"><#if (list.isEnlist==1)>已报名<#else>报名参加</#if></a>
					</div>
				</li>
			</#list>
		</ul>
	</div>