<div class="mui-content">
	<div class="mui-text-center linebar">
		<h5>当前答题进度：</h5>
		<div class="bg-line" id="bg-line">
			<p id="scale" style="width:0%"><span class="mui-badge mui-badge-purple">0/0</span></p>
		</div>
	</div>
	<div class="content-box" id="questionBox">
<!-- 		<div class="title"><span></span><p>题目内容题目内容</p></div>
		<div class="mui-input-row mui-radio mui-left"><label>很符合<input name="question" type="radio" value="0"></label></div>
		<div class="mui-input-row mui-radio mui-left"><label>很符合<input name="question" type="radio" value="0"></label></div>
		<div class="mui-input-row mui-radio mui-left">
			<label>
				<p>很符合<input name="question" type="radio" value="0"></p>
				<img src="../images/ico_face_1.png">
			</label>
		</div>
		<div class="mui-input-row mui-checkbox mui-left">
			<label>
				<p><input name="checkbox" value="Item 2" type="checkbox" checked="">复选框</p>
				<img src="../images/ico_face_1.png">
			</label>
		</div>
		<a href="JavaScript:;" class="check-status">选好了</a> -->
	</div>
	<div class="content-box" id="explainBox">
<!-- 		<div class="status-face-1"></div>
		<h5 class="status-word">恭喜你答对了~</h5>
		<p class="explain">正确答案：D</p>
		<p class="explain">参考解析：微博几年前与手机厂商有合作，但是当前并没有推广微博定制手机，而是积极与所有手机厂商合作。</p>
		<a href="JavaScript:;" class="next_btn" id="next_question">继续做题</a> -->
	</div>
</div>