<div class="mui-content">
	<div class="content-box">
		<#if (data.score >= 60 )>
			<div class="status-face-1"></div>
			<h5 class="status-word">哇塞，你简直是网红潜力股啊~</h5>
		<#else>
			<div class="status-face-0"></div>
			<h5 class="status-word">亲，你还需要努力学习呦~</h5>
			<p class="status-word">${data.tips}</p>
		</#if>
		<div class="mark">
			<strong>${data.score}分</strong>
			<p>网红潜力值</p>
		</div>
	</div>

	<#if (data.platform == "weibo" )>
		<div class="content-box">
			<a href="JavaScript:;" id="weiboShare">找好友一起测试</a>
		</div>
	</#if>

	<div class="content-box">
		<h5 class="join">我们欢迎你加入网红城堡</h5>
		<ul class="aboutInfo">
			<li>
				<h6>我们是做什么的?</h6>
				<p>联合产业链各环节顶尖人才、顶级机构<br>为电商网红提供全生命周期服务<br>帮助百万中国女性科学变红，优雅赚钱</p>
			</li>

			<li>
				<h6>谁能成为网红？</h6>
				<p>有在微博平台上售卖商品的意愿<br>愿意长期经营自己的粉丝<br>有一定的粉丝数量<br>有一颗成为网红的心</p>
			</li>

			<li>
				<h6>我们的优势</h6>
				<p>10年社交平台实战经验，微博创始团队成员主导<br>丰富的行业资源，及时掌握业界最新社交经营方法<br>
				具有多位一线网红成功案例<br>人工智能引擎加速运营效率<br>微博最早的商业数据合作伙伴<br>具有丰富的广告优化经验</p>
			</li>
		</ul>
	</div>
	<a href="${data.next_url}" class="next_btn">我要加入</a>
</div>