@media (max-width: 319px) {
  html {
    font-size: 100px; } }

@media (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 100px; } }

@media (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 117.1875px; } }

@media (min-width: 414px) {
  html {
    font-size: 129.375px; } }

.border-1px {
  position: relative; }
  .border-1px:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    pointer-events: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-1px:after {
      right: -100%;
      bottom: -100%;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-1px:after {
      right: -200%;
      bottom: -200%;
      transform: scale(0.3333);
      -moz-transform: scale(0.3333);
      -webkit-transform: scale(0.3333); } }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, legend, p, table, th, td, iframe, input, figure {
  margin: 0;
  padding: 0; }

header, section, footer {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

img {
  border: 0; }

li {
  list-style: none; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  webkit-tap-highlight-color: transparent; }

a:focus {
  outline: 0; }

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none; }

input[type="text"], input[type="button"], input[type="submit"], input[type="tel"] {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0; }

input, textarea {
  webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; }

body {
  font: 14px/20px "Microsoft YaHei","Hiragino Sans GB","stheitisclight","sans-serif";
  min-width: 320px;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.container {
  height: 100%; }

body {
  padding-bottom: 60px; }

.mui-title {
  position: static;
  color: #555;
  margin: 0; }

.btnBox {
  text-align: center; }

.mui-btn {
  background-image: -webkit- linear-gradient(to bottom, #f0f0f0, #999);
  background-image: linear-gradient(to bottom, #fff, #eee);
  background: #d6a44c;
  color: #fff;
  border: none;
  min-width: 1.152rem;
  border-radius: 0.21333rem;
  height: 0.24747rem;
  line-height: 0.24747rem;
  display: inline-block;
  text-align: center;
  padding: 0 15px;
  margin: 0 10px; }

body {
  background: white; }

.topTip {
  display: inline-block;
  line-height: 0.26rem;
  width: 100%;
  height: 0.26rem;
  font-size: 0.12rem;
  background: #fff5e4;
  color: #d6a44c; }

.topTipIcon {
  display: inline-block;
  background: url(../images/icon.png) no-repeat;
  background-size: 0.18rem;
  float: left;
  width: 0.18rem;
  height: 0.195rem;
  background-position: 0 -0.2rem;
  margin: 0 0.1rem; }

.topBox {
  text-align: center; }

.headpic {
  margin: 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  box-shadow: 0 0 3px #999; }

.headtext {
  text-align: center;
  font-weight: bolder;
  color: #555; }

.mui-content {
  padding: 0.075rem;
  background: white;
  line-height: 30px;
  overflow: hidden;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s; }

.textBox {
  position: relative;
  height: 150px; }

.text {
  position: absolute;
  display: inline-block;
  transition: left 0.3s,top 0.3s;
  -webkit-transition: left 0.3s,top 0.3s;
  left: 0;
  top: 0; }

.text-1 {
  left: 40%;
  top: 50%;
  font-size: 28px;
  transform: rotate(45deg) skew(10deg, 20deg);
  -webkit-transform: rotate(45deg) skew(15deg, 0deg); }

.text-2 {
  left: 54%;
  top: 50%;
  font-size: 27px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg); }

.platform {
  width: 100%;
  position: relative;
  height: 180px;
  background: white; }

.platItem {
  overflow: hidden;
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 0;
  /* line-height: 0; */
  /* vertical-align: middle; */
  font-size: 10px;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s; }

.orange-box {
  width: 100%;
  height: 0.4rem;
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.orange-box p {
  margin-top: -0.8rem;
  line-height: 0.3rem;
  color: #fff;
  text-align: center; }

#orange-base {
  position: absolute;
  width: 60%;
  height: 0.3rem;
  left: 18%;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  overflow: hidden;
  border: 0.04rem solid #fce093;
  background-color: #fce093;
  border-radius: 50px; }

.orangeBar {
  background-color: #ffa800;
  margin-top: 0;
  animation-name: orangeBar;
  -webkit-animation-name: orangeBar;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  width: 100%;
  height: 0.3rem; }

@-webkit-keyframes orangeBar {
  from {
    width: 0; }
  to {
    width: 100%; } }

#orange-right {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 70%;
  width: 0.38rem;
  height: 0.38rem;
  margin-top: -0.19rem;
  background-image: url("../images/orangeRight.png");
  background-size: 100% 100%; }

.orangeRight {
  -webkit-animation-name: orangeRight;
  animation-name: orangeRight;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-animation-direction: normal;
  animation-direction: normal; }

@-webkit-keyframes orangeRight {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.leafList {
  position: absolute;
  width: 0.18rem;
  height: 0.095rem;
  background-image: url("../images/leaf.png");
  background-size: 100% 100%;
  opacity: 0;
  left: 0;
  top: 0; }

@-webkit-keyframes leafRotate1 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    left: 70%; }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    left: 20%; } }

.leaf1 {
  -webkit-animation-name: leafRotate1;
  animation-name: leafRotate1;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  margin-top: 0; }

@-webkit-keyframes leafRotate2 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    left: 72%; }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    left: 20%; } }

.leaf2 {
  -webkit-animation-name: leafRotate2;
  animation-name: leafRotate2;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: left;
  transform-origin: 50% 50%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  margin-top: 0.1rem; }

@-webkit-keyframes leafRotate3 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    left: 75%; }
  50% {
    opacity: 1;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 20%; }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    left: 20%; } }

.leaf3 {
  -webkit-animation-name: leafRotate3;
  animation-name: leafRotate3;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  animation-delay: .3s;
  -webkit-animation-delay: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: left;
  transform-origin: 50% 50%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  margin-top: 0.175rem; }

.topDNA {
  color: #069; }
