<#if (data.author != null)>
<div class="tutor">
	<div class="head">
		<img src="${data.author.img}?imageView2/1/w/200/h/200" alt="">
	</div>
	<div class="info">
		<h2 class="name">${data.author.name}</h2>
		<p class="tutor-intro">${data.author.desc}</p>
	</div>
	<#if (120 < data.author.desc.replace(/[^\x00-\xff]/g, "##").length)>
	<div class="tutor-folder" action="folder"></div>
	</#if>
</div>
</#if>
<header class="mui-bar mui-bar-nav">	
	<h1 class="mui-title">${data.name}</h1>
</header>
	<!-- <div class="mui-media-body subTitle">帮助网红快速学会独立创作微博，找准定位</div> -->

<div class="mui-content content">
	<#if (data.audio != null && data.audio != "")>
	<div class="audio">
		<audio controls autoplay>
	       <source src="${data.audio}" type="audio/wav" />
	       Your browser does not support the &lt;audio&gt; element.
		</audio>
	</div>
	</#if>
	${data.content}
</div>
<div  class="tc_text">
	<#if (data.is_test!=0)>
		<a href="${data.next_url}" class="mui-btn tc_go">				
			<#if (data.is_test==2)>查看课后作业<#else>我学完了,去做作业</#if>
		</a>
		<div class="bottomNotice">学完每节课程，成长值<span style="color:#ea5504;">+10</span>;完成每节作业，成长值<span style="color:#ea5504;">+20</span></div>
	<#else>
		<!-- <a href="${data.prev_url}" class="mui-btn tc_go">	 -->			
		<a href="javascript:;" class="mui-btn tc_go" id="finish">	
			我学完了
		</a>
		<div class="bottomNotice">学完每节课程，成长值<span style="color:#ea5504;">+10</span></div>
	</#if>
	
</div>
