<div class="mui-content">
	<div class="content-box clearfix">
		<div class="headPic">
			<img src="${data.profile_image_url}">
			<h5 class="status-word">${data.name}</h5>
		</div>
		<div class="mark">
			<strong>${data.scoretotal}分</strong>
		</div>
	</div>
	<div class="content-box">
		<span class="prev"></span>
		<span class="next"></span>
		<h5 class="join">详细得分</h5>
		<div id="detail-echarts" class="detail-echarts">
		</div>
	</div>
</div>

<div class="btn_box">
	<#if (data.prev_url)>
		<a href="${data.prev_url}" pjax="1" class="btn">上一个</a>
	</#if>
	<#if (data.next_url)>
		<a href="${data.next_url}" pjax="1" class="btn">下一个</a>
	</#if>
</div>
<p class="link_back">
	<a href="${data.back_url}" pjax="1">返回>></a>
</p>