<ul class="topList">
	<li class="top">
		<span>每周一00:00重新计算网红分值</span>
		<span class="list_pic"><img src="${data.profile_image_url}"></span>
		<span class="list_score"><em>${data.scoretotal}</em>分</span>

	</li>


	<#list data.top_webreds.data as list>
		<li>
		<a href="top-webredone?wb_user_id=${list.wb_user_id}">
			<span class="list_pic"><img src="${list.profile_image_url}"></span>
			<span class="list_nicname">${list.screen_name}</span>
			<span class="list_score"><em>${list.scoretotal}</em>分</span>
		</a>
		</li>
  	</#list>

<!-- 	<li>
		<a href="top-webredone?wb_user_id=8527">
			<span class="list_pic"><img src="../images/face_1.png"></span>
			<span class="list_nicname">昵称</span>
			<span class="list_score"><em>85</em>分</span>
		</a>
	</li> -->
</ul>
<a href="${data.back_url}" pjax="1" class="mui-btn mui-btn-primary mui-btn-block">返回</a>