@media (max-width: 319px) {
  html {
    font-size: 100px; } }

@media (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 100px; } }

@media (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 117.1875px; } }

@media (min-width: 414px) {
  html {
    font-size: 129.375px; } }

.border-1px {
  position: relative; }
  .border-1px:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    pointer-events: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-1px:after {
      right: -100%;
      bottom: -100%;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-1px:after {
      right: -200%;
      bottom: -200%;
      transform: scale(0.3333);
      -moz-transform: scale(0.3333);
      -webkit-transform: scale(0.3333); } }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, legend, p, table, th, td, iframe, input, figure {
  margin: 0;
  padding: 0; }

header, section, footer {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

img {
  border: 0; }

li {
  list-style: none; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  outline: 0; }

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none; }

input[type="text"], input[type="button"], input[type="submit"], input[type="tel"] {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0; }

input, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; }

body {
  font: 14px/20px "Microsoft YaHei","Hiragino Sans GB","stheitisclight","sans-serif";
  min-width: 320px;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.container {
  height: 100%; }

.tutor {
  position: relative;
  min-height: 0.93867rem;
  background: #fff; }
  .tutor .head {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.192rem 0 0 0.128rem; }
    .tutor .head img {
      width: 0.59733rem;
      height: 0.59733rem;
      border-radius: 100%; }
  .tutor .info {
    padding-left: 0.896rem; }
    .tutor .info .name {
      color: #1a1a1a;
      font-size: 0.13653rem;
      padding-top: 0.17067rem; }
    .tutor .info .tutor-intro {
      color: #646464;
      font-size: 0.11093rem;
      padding: 0.08533rem 0.08533rem 0 0;
      white-space: normal;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
    .tutor .info .tutor-show {
      -webkit-line-clamp: inherit; }
  .tutor .tutor-folder {
    background: url(../images/arrow.png) no-repeat center center;
    background-size: 0.1664rem 0.0896rem;
    height: 0.256rem;
    margin: 0.04267rem 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
  .tutor .tutor-on {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }

.topLogo {
  background: url(../images/topLogo.png) center top no-repeat !important;
  padding-top: 150px !important; }

.topTitle {
  padding: 10px 15px;
  font-size: 0.1024rem;
  background: white;
  box-shadow: 0 0 10px #CCC;
  position: relative; }

.audio {
  text-align: center;
  padding-bottom: 0.04267rem; }

.mui-bar-nav ~ .mui-content {
  padding: 15px; }

.content {
  padding: 0.128rem 0.128rem 0;
  background: white;
  color: #555;
  margin-top: 20px; }

.content p {
  text-align: left; }

.content img {
  max-width: 90%;
  margin: 0 auto;
  display: inline-block; }

.tc_text {
  text-align: center;
  padding: 0 0.08533rem 0.128rem;
  background-color: #fff; }

.bottomNotice {
  margin: 0.08533rem; }

.mui-bar {
  position: static; }

.mui-bar-nav ~ .mui-content {
  margin: 0; }

.not-user {
  background-color: #fff;
  background-image: url(../images/not-user.png);
  background-repeat: no-repeat;
  height: 2.13333rem;
  background-size: 2.92267rem 1.87307rem;
  background-position: center 0;
  position: relative;
  padding-bottom: 0.17067rem; }
  .not-user .buttons {
    position: absolute;
    bottom: 0.128rem;
    text-align: center;
    width: 100%; }
  .not-user .mui-btn {
    display: block;
    margin: 0 auto 0; }
