@media (max-width: 319px) {
  html {
    font-size: 100px; } }

@media (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 100px; } }

@media (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 117.1875px; } }

@media (min-width: 414px) {
  html {
    font-size: 129.375px; } }

.border-1px {
  position: relative; }
  .border-1px:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    pointer-events: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-1px:after {
      right: -100%;
      bottom: -100%;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-1px:after {
      right: -200%;
      bottom: -200%;
      transform: scale(0.3333);
      -moz-transform: scale(0.3333);
      -webkit-transform: scale(0.3333); } }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, legend, p, table, th, td, iframe, input, figure {
  margin: 0;
  padding: 0; }

header, section, footer {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

img {
  border: 0; }

li {
  list-style: none; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  outline: 0; }

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none; }

input[type="text"], input[type="button"], input[type="submit"], input[type="tel"] {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0; }

input, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; }

body {
  font: 14px/20px "Microsoft YaHei","Hiragino Sans GB","stheitisclight","sans-serif";
  min-width: 320px;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.container {
  height: 100%; }

body {
  background: #f2f2f2; }

.mainBox {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #fff;
  margin: 0.11947rem 0; }
  .mainBox p, .mainBox h5 {
    color: #1a1a1a;
    font-size: 0.11093rem;
    line-height: 0.17067rem; }
  .mainBox h5 {
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    line-height: 0.36693rem;
    font-size: 0.11947rem;
    font-weight: normal; }
  .mainBox .pass_box {
    padding: 0.08533rem 0;
    font-weight: normal;
    color: #fbbd06;
    text-align: center;
    line-height: 0.17067rem;
    font-size: 0.11947rem; }

.bg-line-box {
  padding: 0.128rem 0.512rem 0.128rem 0.68267rem; }
  .bg-line-box .bg-line {
    border-radius: 0.04267rem;
    height: 0.11093rem;
    margin-right: 0.46933rem;
    background: #c2c2c2;
    overflow: hidden; }
    .bg-line-box .bg-line p {
      width: 0;
      background: #fbbd06;
      height: 0.11093rem;
      position: relative;
      border-radius: 0.03413rem; }
  .bg-line-box span {
    width: 0.46933rem;
    height: 0.128rem;
    line-height: 0.128rem;
    padding-left: 0.04267rem;
    float: right;
    color: #919191; }

.chartList {
  /*  display: flex;*/
  min-height: 1.49333rem;
  margin: 0.46933rem 0 0.064rem; }

.chartList li {
  /*  display: inline-flex;
  flex: 1;
  margin: 0 r(20);
  position: relative;*/
  width: 18%;
  margin: 0 1%;
  float: left;
  height: 1.49333rem;
  position: relative; }

.chartList li .block {
  width: 60%;
  height: 0;
  border-radius: 0.02133rem;
  background: #fff;
  position: absolute;
  left: 20%;
  bottom: 0.21333rem;
  /*background: #fcc90b;*/
  background: #fbbd06;
  animation: block 0.5s; }

.chartList li .block p {
  width: 100%;
  line-height: 0.17067rem;
  font-size: 0.11093rem;
  text-align: center;
  margin-top: -0.17067rem;
  color: #fbbd06; }

.chartList li h6 {
  position: absolute;
  margin: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 0.21333rem;
  color: #919191;
  font-weight: normal;
  text-align: center; }

.chartList li.grey .block {
  background: #bfbfbf; }

.chartList li.grey h6, .chartList li.grey p {
  color: #bfbfbf; }

@keyframes block {
  0% {
    height: 0; } }

.btn_box {
  text-align: center;
  height: 1.024rem;
  padding: 0.29867rem 0 0.384rem; }
  .btn_box a {
    width: 1.152rem;
    height: 0.34133rem;
    margin: 0 0.17067rem;
    text-align: center;
    font-size: 0.13653rem;
    line-height: 0.34133rem;
    background: #fbbd06;
    border-radius: 0.04267rem;
    display: inline-block;
    color: #fff; }
