<div class="mui-content">
	<p class="desc">如果您遇到任何问题，可以通过联系我们的官方微博账号和官方微信账号，会有工作人员为您解答。</p>
	<!-- <p class="title">官方微信</p> -->
<#if (data.platform == "weixin" || data.platform == null )>
	<div class="desc">微信账号：<span>shiquweidianshang</span></div>
	<div class="weixin"><img src="http://${data._extra.domain}/modules/h5/contactUs/images/qrcode.jpg"></div>
	<div class="qrcode_tip">长按识别上方二维码</div>
	<div class="desc">微博账号：<span>@时趣网红城堡</span></div>
	<div class="weibo"><img src="http://tva1.sinaimg.cn/crop.22.48.463.463.180/0068YUDSjw8f7nd3fwmj0j30e80e8weu.jpg"></div>
<#elseif (data.platform == "weibo" )>
	<p class="desc">如果您遇到任何问题，可以通过联系我们的官方微博账号和官方微信账号，会有工作人员为您解答。</p>	
	<div class="desc">微信账号：<span>shiquweidianshang</span></div>
	<div class="desc">微博账号：<span><a href="sinaweibo://userinfo?uid=5629525096">@时趣网红城堡</a></span></div>
</#if>
</div>
