<nav class="border-1px tabbar">
	<a href="/castle/wap/user/index" pjax="1" class="tabbar-item current" data-index="0"><span class="tabbar-icon icon-home"></span><span class="tabbar-text">开始</span></a>
	<a href="/castle/wap/course/course-list" pjax="1" class="tabbar-item" data-index="1"><span class="tabbar-icon icon-learn"></span><span class="tabbar-text">学习</span></a>
	<a href="/castle/wap/speedup/index" pjax="1" class="tabbar-item" data-index="2"><span class="tabbar-icon icon-jiasu"></span><span class="tabbar-text">加速</span></a>
	<a href="/castle/wap/works/index" pjax="1" class="tabbar-item" data-index="3"><span class="tabbar-icon icon-money"></span><span class="tabbar-text">赚钱</span></a>
	<a href="/castle/wap/user/show" pjax="1" class="tabbar-item" data-index="3"><span class="tabbar-icon icon-mine"></span><span class="tabbar-text">我</span></a>
</nav>