@media (max-width: 319px) {
  html {
    font-size: 100px; } }

@media (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 100px; } }

@media (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 117.1875px; } }

@media (min-width: 414px) {
  html {
    font-size: 129.375px; } }

.border-1px {
  position: relative; }
  .border-1px:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    pointer-events: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-1px:after {
      right: -100%;
      bottom: -100%;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-1px:after {
      right: -200%;
      bottom: -200%;
      transform: scale(0.3333);
      -moz-transform: scale(0.3333);
      -webkit-transform: scale(0.3333); } }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, legend, p, table, th, td, iframe, input, figure {
  margin: 0;
  padding: 0; }

header, section, footer {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

img {
  border: 0; }

li {
  list-style: none; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  outline: 0; }

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none; }

input[type="text"], input[type="button"], input[type="submit"], input[type="tel"] {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0; }

input, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; }

body {
  font: 14px/20px "Microsoft YaHei","Hiragino Sans GB","stheitisclight","sans-serif";
  min-width: 320px;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.container {
  height: 100%; }

body {
  background-color: #f2f2f2; }

.profile {
  text-align: center;
  /*height: r(167);*/
  margin-top: 0.128rem;
  background: #fff;
  box-shadow: 0 0 2px rgba(200, 200, 200, 0.8);
  position: relative; }
  .profile .profile-image {
    /*position: absolute;
		top: 0;
		left: 0;*/
    width: 0.72533rem;
    height: 0.7168rem; }
    .profile .profile-image img {
      margin-top: 0.13653rem;
      width: 0.45653rem;
      height: 0.45653rem;
      border-radius: 100%;
      border: 0.00427rem solid #ddd; }
  .profile .profile-detail {
    position: absolute;
    top: 0;
    left: 0.72533rem;
    height: 0.7168rem; }
    .profile .profile-detail .detail {
      font-size: 0.1024rem;
      color: #919191;
      padding-right: 0.17067rem; }
    .profile .profile-detail .nick {
      font-size: 0.13653rem;
      text-align: left;
      line-height: 0.7168rem;
      color: #1c1c1c; }
  .profile .profile-info {
    display: table;
    width: 100%;
    height: 0.5248rem;
    border-top: 1px solid #f2f2f2; }
    .profile .profile-info li {
      display: table-cell;
      width: 50%;
      padding-top: 0.11093rem; }
      .profile .profile-info li .count {
        font-size: 0.11947rem;
        color: #1a1a1a;
        line-height: 0.17067rem; }
      .profile .profile-info li .attr {
        font-size: 0.1024rem;
        color: #a3a2a2;
        line-height: 0.11947rem; }

.mui-bar-nav ~ .mui-content {
  padding-top: 0.128rem; }

.mui-table-view {
  margin-top: 0.08533rem;
  /*box-shadow: 0 0 2px rgba(200, 200, 200, 0.8);*/ }
  .mui-table-view .mui-table-view-cell {
    height: 0.36693rem;
    font-size: 0.128rem;
    padding: 0;
    background: #fff; }
    .mui-table-view .mui-table-view-cell .mui-navigate-right {
      margin: 0;
      display: block;
      height: 0.36693rem;
      line-height: 0.36693rem;
      color: #1c1c1c;
      text-indent: 0.128rem; }
    .mui-table-view .mui-table-view-cell .menu {
      position: relative; }
      .mui-table-view .mui-table-view-cell .menu .dot {
        position: absolute;
        right: -0.05973rem;
        top: 0;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: #f00; }
  .mui-table-view .mui-table-view-cell:after {
    background-color: #eeeeec;
    left: 0; }

.mui-table-view:before {
  background-color: #eeeeec; }

.mui-table-view:after {
  background-color: #E4E4E3; }

.mui-btn-block {
  margin: 0.08533rem auto;
  border-radius: 0;
  width: 100%;
  height: 0.36693rem;
  line-height: 0.36693rem;
  padding: 0;
  background: #ea3700;
  font-size: 0.13653rem; }
