<!-- <header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">课程详情</h1>
</header> -->


<div class="top-box" <#if (data.cover_img != "")>style="background-image:url(${data.cover_img})"</#if>>
	<h4 class="top-title">${data.name}</h4>
	<ul class="mui-table-view bgColor">
		<li class="mui-table-view-cell description">
			<div class="subTitle"><#if (data.description)>${data.description}</#if></div>
		</li>
		<li class="mui-table-view-cell colorGray">
			<span class="table-item">讲师：${data.lecturer}</span>
			<div class="percent clearfix">
				<span class="table-item" style="float:left;">进度：${data.percent}</span>
				<span class="table-item" style="float:right;">${data.duration_str}</span>
			</div>
			
		</li>
		<!-- <li style="display:none;" class="percentRate" id="percent" percent="${data.percent}">
			当前进度：${data.percent} <span></span>
		</li> -->
	</ul>
	<!-- <div class="top-img-box">
		<img class="top-img" src="${data.cover_img}?imageView2/0/w/120/h/120">
	</div> -->
</div>

	<#list data.chapters as chapter>

		<li class="chapterItem mui-table-view-cell <#if (chapter.is_finished==1)>done</#if>">
			<a href="${chapter.url}">
				
				<div class="sectionTitle">${chapter.name}
					<#if (chapter.is_test!=1)><span class="arrowRight">&gt;</span></#if>
				</div>				
				<div class="sectionIntro">内容简介：${chapter.description}</div>
				<#if (chapter.is_test==1)>
					<a href="${chapter.test_url}" style="border-top: 1px solid #f0f0f0;">
						<div ">
							课后作业	<span class="arrowRight">&gt;</span>
						</div>	
					</a>
				</#if>
			</a>
			<!-- <a class="mui-navigate-right" href="${chapter.url}">
				<div class="mui-collapse-content" >
					<form class="mui-input-group">
						<p class="sectionIntro" >
							内容简介：${chapter.description}
						</p>
					</form>
				</div>
			</a> -->
		</li>
	</#list>
