@media (max-width: 319px) {
  html {
    font-size: 100px; } }

@media (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 100px; } }

@media (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 117.1875px; } }

@media (min-width: 414px) {
  html {
    font-size: 129.375px; } }

.border-1px {
  position: relative; }
  .border-1px:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    pointer-events: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-1px:after {
      right: -100%;
      bottom: -100%;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-1px:after {
      right: -200%;
      bottom: -200%;
      transform: scale(0.3333);
      -moz-transform: scale(0.3333);
      -webkit-transform: scale(0.3333); } }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, legend, p, table, th, td, iframe, input, figure {
  margin: 0;
  padding: 0; }

header, section, footer {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

img {
  border: 0; }

li {
  list-style: none; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  outline: 0; }

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none; }

input[type="text"], input[type="button"], input[type="submit"], input[type="tel"] {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0; }

input, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; }

body {
  font: 14px/20px "Microsoft YaHei","Hiragino Sans GB","stheitisclight","sans-serif";
  min-width: 320px;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.container {
  height: 100%; }

body {
  background: #f2f2f2; }

.logo {
  width: 0.384rem;
  height: 0.5504rem;
  margin: 0.256rem auto 0.04267rem;
  background: url(../images/logo.png) no-repeat center 0;
  background-size: 0.384rem 0.5504rem; }

h5 {
  font-size: 0.1536rem;
  line-height: 0.21333rem;
  color: #1a1a1a;
  text-align: center; }

.tips, .words {
  font-size: 0.1024rem;
  line-height: 0.17067rem;
  color: #646464;
  text-align: center; }

.words {
  font-size: 0.11093rem;
  color: #fbbd06; }

.describeList {
  padding: 0.29867rem 0 0.29867rem 0.55467rem; }
  .describeList li {
    font-size: 0.11947rem;
    line-height: 0.26453rem;
    color: #1a1a1a;
    padding-left: 0.256rem; }
  .describeList .item_1 {
    background: url(../images/ico_item_1.png) no-repeat 0 center;
    background-size: 0.1408rem 0.1408rem; }
  .describeList .item_2 {
    background: url(../images/ico_item_2.png) no-repeat 0 center;
    background-size: 0.1408rem 0.1408rem; }
  .describeList .item_3 {
    background: url(../images/ico_item_3.png) no-repeat 0 center;
    background-size: 0.1408rem 0.1408rem; }
  .describeList .item_4 {
    background: url(../images/ico_item_4.png) no-repeat 0 center;
    background-size: 0.1408rem 0.1408rem; }
  .describeList .item_5 {
    background: url(../images/ico_item_5.png) no-repeat 0 center;
    background-size: 0.1408rem 0.1408rem; }
  .describeList .item_6 {
    background: url(../images/ico_item_6.png) no-repeat 0 center;
    background-size: 0.1408rem 0.1408rem; }
  .describeList .item_7 {
    background: url(../images/ico_item_7.png) no-repeat 0 center;
    background-size: 0.1408rem 0.1408rem; }
  .describeList .item_8 {
    background: url(../images/ico_item_8.png) no-repeat 0 center;
    background-size: 0.1408rem 0.1408rem; }
  .describeList .item_9 {
    background: url(../images/ico_item_9.png) no-repeat 0 center;
    background-size: 0.1408rem 0.1408rem; }
  .describeList .item_10 {
    background: url(../images/ico_item_10.png) no-repeat 0 center;
    background-size: 0.1408rem 0.1408rem; }
  .describeList .item_11 {
    background: url(../images/ico_item_11.png) no-repeat 0 center;
    background-size: 0.1408rem 0.1408rem; }
  .describeList .item_12 {
    background: url(../images/ico_item_12.png) no-repeat 0 center;
    background-size: 0.1408rem 0.1408rem; }
  .describeList .item_13 {
    background: url(../images/ico_item_13.png) no-repeat 0 center;
    background-size: 0.1536rem 0.1536rem; }
  .describeList .item_14 {
    background: url(../images/ico_item_14.png) no-repeat 0 center;
    background-size: 0.1536rem 0.1536rem; }
  .describeList .item_15 {
    background: url(../images/ico_item_15.png) no-repeat 0 center;
    background-size: 0.1536rem 0.1536rem; }
  .describeList .item_16 {
    background: url(../images/ico_item_16.png) no-repeat 0 center;
    background-size: 0.1536rem 0.1536rem; }
  .describeList .item_17 {
    background: url(../images/ico_item_17.png) no-repeat 0 center;
    background-size: 0.1536rem 0.1536rem; }

.class_2 {
  padding: 0.29867rem 0 0.29867rem 0.49067rem; }

.class_3, .class_5 {
  padding: 0.29867rem 0 0.29867rem 0.21333rem; }

.class_4, .class_6 {
  padding: 0.29867rem 0 0.29867rem 0.17067rem; }

.class_5 li, .class_6 li {
  padding-left: 0.21333rem; }

.btn_box {
  text-align: center;
  padding: 0.128rem 0; }
  .btn_box .btn {
    display: block;
    width: 1.49333rem;
    height: 0.2816rem;
    margin: 0 auto;
    text-align: center;
    font-size: 0.128rem;
    line-height: 0.2816rem;
    background: #fbbd06;
    border-radius: 0.04267rem;
    color: #fff; }

.bg_bottom {
  width: 100%;
  height: 1.16907rem;
  margin-top: 0.21333rem;
  background: url(../images/bg_bottom.png) no-repeat center 0;
  background-size: 1.16907rem 1.2544rem; }
