<div class="topBack">
	我想邀请你加入网红城堡
</div>

<div class="mui-content">
	<div class="empty">“电商的未来是网红、是社群”</div>

	<div class="mui-content">
		<div class="redTitle">
			网红城堡
		</div>
		依托十年的社交平台操盘经验
		<br>
		依托两年的网红实际运营经验
		<br>
		依托我们丰富的业界合作资源
		<div class="redTitle">
		免费为你提供
		</div>
		个性化的网红培训教程
		<br>
		数据驱动的测试工具
		<br>
		自动化的运营软件
		<br>
		帮助大家成为一个更优秀的网红。
		<br>
		科学变红、优雅赚钱，快来成为网红吧！
	</div>

	<div class="mui-content-padded">
		<p><a class="mui-btn mui-btn-block" href="${data.next_url}">我要加入</a></p>
	</div>
</div>